[2022-01-26 14:56] Jeskalana opened #318 "All Sass Products won't work for me"
Issue Type: <b>Bug</b>

All the Sass compilers and watchers are hacked and won't work for me.  I don't know if it's just me or it's a universal problem.  Live Compilers won't watch or compile scss into css for me.  I've tried just about everyone.  Some won't install at all.  The instructions they give won't work.  The watch button doesn't even show up for me.

VS Code version: Code 1.63.2 (899d46d

[2022-01-27 04:52] nikhgup commented on #313
@nikeedev Apologies for confusion. extension.vsixmanifest file is inside vsix package you generated. As an alternate solution you can try changing 'name' in https://github.com/nikeedev/canvas-api-snippets/blob/main/package.json file and as 'canvas-snippets' name already exists in Marketplace.

[2022-01-27 06:37] #316 closed

[2022-01-27 10:11] jakelevi1996 opened #319 "Add feature requests for specific extensions"
Issue Type: <b>Feature Request</b>

When I search for an extension, and click on a result and it brings up a page for that extension, with multiple tabs (EG Details, Feature Contributions, Changelog, Runtime Status), it would be good if there was a tab(s) for Feature Requests and/or Discussion, where users could add their own feature requests/discussions for the extension directly, instead of havi

[2022-01-27 13:34] xsrvmy opened #320 "Marketplace ToU violates GPL and similar licenses?"
The marketplace hosts some GPL extensions, but at the same time the ToU restricts the use of downloaded extensions to official products only, and it does not contain the usual disclaimer that this restriction does not apply to open source code. Doesn't this violate the GPL license? (Also it makes it dubious as to whether extensions can contain third party GPL code, which is why I am asking this in

[2022-01-27 13:54] xsrvmy commented on #320
Example of a GPL extension: kde.breeze, AdaCore.ada
Example of an LGPL extension: uloco.bluloco-theme-light
There are some example that require third party GPL code as well.

[2022-01-27 21:58] anangaur commented on #316
What was the issue?

[2022-01-28 06:31] nikeedev commented on #313
Thank you very much @nikhgup ! I did change the name on `package.json` and it works :D! thx!

[2022-01-28 06:31] #313 closed

[2022-01-28 14:28] aslakhellesoy commented on #291
I'm getting the same error. The domains I have tried are `https://smartbear.com` and `https://cucumber.io`. They both respond with 200 with a `HEAD` request.

[2022-01-28 16:28] isidorn commented on #23
This feature should also allow extensions to specify they are archived - which means no more updates, still working but looking for maintainers.

[2022-01-28 16:36] ssbarnea commented on #23
Even if extra metadata is added for deprecation, asking extension developer to re-publish it can prove a real problem. Many may no longer bother to do it as it requires extra work, is not like putting a checkmark on a web form. Many extensions are abandonware, so you cannot even contact original publisher.

This is why earlier this month I released https://marketplace.visualstudio.com/items?itemNa

[2022-01-29 00:47] mmjconolly commented on #235
That's your rule but not necessarily another person's rule, please allow an unpublish.
This is a total pain to deal with in an emergency.

[2022-01-31 14:39] pratikgawali-msft commented on #296
Could you share more information along with screenshots, if possible?

[2022-02-01 08:35] prashantvc commented on #235
This is something we are actively working on. I understand there are scenarios whereas an extension author, we need to unpublish an extension version.

I apricate the patience, but for please contact support for this issue

[2022-02-01 11:07] AbstractionsAs opened #321 "Can't verify domain with Visual Studio Marketplace"
**Describe the bug**
I'm unable to verify my domain with Visual Studio Marketplace.
I suspect it's because my publisher id contains uppercase characters, while the TXT record refuses to be anything but all lowercase

My publisher id is "AbstractionsAS".
The DNS record is set: https://www.whatsmydns.net/#TXT/_visual-studio-marketplace-abstractionsas.abstractions.no

[2022-02-02 12:52] FrankSAURET commented on #299
No news ?

[2022-02-02 14:05] FrankSAURET opened #323 "Verify publisher fails - The domain url provided could not be reached"
**Describe the bug**
Trying to verify publisher, get this error:

`The domain url provided could not be reached`

[2022-02-02 14:18] prashantvc commented on #323
Could you share the URL?

[2022-02-02 14:46] FrankSAURET commented on #323
https://www.electropol.fr
my url

[2022-02-03 00:45] haneefdm commented on #235
Even if allowing the most recent version to get unpublished probably would work out for many authors

[2022-02-03 07:14] rajbhagwat opened #324 "extenstion installing error"
Error while installing 'Material Icon Theme' extension. Please check the [log](command:workbench.action.showWindowLog) for more details.

[2022-02-04 07:10] prashantvc commented on #316
This is an issue in the backend, I will talk to Munish and send out analysis over email

[2022-02-04 09:18] AshCript opened #325 "Unable to install Extension Pack for Java"
Issue Type: <b>Bug</b>

I'm trying to install Extension Pack for Java and it just returns this error message :

[2022-02-04 12:16:41.291] [renderer1] [error] Corrupt ZIP: end of central directory record signature not found: Invalid: Corrupt ZIP: end of central directory record signature not found
    at D.downloadInstallableExtension (vscode-file://vscode-app/usr/share/code/resources/app/out/vs/co

[2022-02-04 17:14] #325 closed

[2022-02-05 18:03] bobmagicii commented on #235
my dumb ass needs this because i just published version `vv1.0.1` and now i look even dumber than before.

[2022-02-06 19:00] cfrank01 opened #326 "Can't install PlatformIO IDE"
Issue Type: <b>Bug</b>

Tried multiple times to install this extension and keep getting the same error about  certificate missing.

VS Code version: Code 1.64.0 (5554b12acf27056905806867f251c859323ff7e9, 2022-02-03T04:22:20.678Z)
OS version: Windows_NT x64 10.0.19043
Restricted Mode: No

[2022-02-07 13:10] pratikgawali-msft commented on #326
Hi @cfrank01, could you please share more information about the error you are facing along with screenshots.
PS: I am able to install the [extension](https://marketplace.visualstudio.com/items?itemName=platformio.platformio-ide) on my VS Code.

![image](https://user-images.githubusercontent.com/79199166/152792212-20c37e28-ac8d-4627-b38d-cec41b28a288.png)

[2022-02-07 13:25] pratikgawali-msft commented on #324
Hi @rajbhagwat, I assume you are trying to install [this](https://marketplace.visualstudio.com/items?itemName=PKief.material-icon-theme) extension. Could you please share more information about the error you are facing? Error logs and error screenshots would be useful.

PS: I am able to install the extension on my VS Code.

![image](https://user-images.githubusercontent.com/79199166/152796246-eab6

[2022-02-07 13:36] prashantvc commented on #68
Closing this issue, we have fixed the issue where tags were not being considered as part of search.
Filtering is different issue, that we will address separately

[2022-02-07 13:36] #68 closed

[2022-02-07 14:45] cfrank01 commented on #326
After several more attempts, I was finally able to get this to install.  Not exactly sure what fixed has I had tried multiple times and all the suggested fixes to get this to work.

[2022-02-07 14:45] #326 closed

[2022-02-07 15:47] pratikgawali-msft commented on #323
Hi @FrankSAURET, it seems a head call to your domain URL is returning HTTP 403 Forbidden response status code. Could you please make sure it returns the HTTP 200 OK success status response code? You should then be able to save your domain URL.

![image](https://user-images.githubusercontent.com/79199166/152821641-8a3d9c36-287d-49b6-b4b2-830c6f7a89a1.png)

[2022-02-07 16:50] pratikgawali-msft commented on #321
Hi @AbstractionsAs, we have already taken your issue into consideration and we are currently working to figure out the best solution here to unblock you.

[2022-02-07 21:57] david-sandy commented on #254
Do we have the ability to modify where it looks for the validation?  I don't know much about how this works.

[2022-02-08 06:53] pratikgawali-msft commented on #291
Hi @BartNetJS and @aslakhellesoy, it seems the issue is that the HEAD call to your domain URL without the User-Agent header is not returning the 200 OK response code.

![image](https://user-images.githubusercontent.com/79199166/152933914-9d273677-14e8-4980-b812-62b96d0219f7.png)

[2022-02-08 10:50] madhurivadaligithub commented on #302
Thanks for contacting VS Marketplace Support Team. Could you please try the following steps to unblock.

Approach 1.
	a. Logout from all the active session of Azure DevOps organization using https://aka.ms/vssignout
	b. Open a new in-private window and Navigate to https://aka.ms/vssignout?wa=wsignoutcleanup1.0 and let it complete (You should see a tiny checkmark and nothing else).
	c. Now visit ma

[2022-02-08 16:21] FrankSAURET commented on #323
Hi,
From home it's ok, the response is HTTP 200 :
![reponse200](https://user-images.githubusercontent.com/1547522/153029472-53a8e9df-6c62-45f8-8e60-867ca35036fd.jpg)
But not on marketplace ?
![marketplace](https://user-images.githubusercontent.com/1547522/153029812-e58eb3c6-caf7-4434-a722-4f227e16c0fb.png)

[2022-02-08 16:31] aslakhellesoy commented on #291
Thanks for the explanation @pratikgawali-msft.

Is there any particular reason you’re not sending `User-Agent` header? It’s not strictly required, but [strongly recommended](https://stackoverflow.com/questions/24274789/is-lack-of-user-agent-in-http-request-valid#24274846) and many servers are configured to reject requests that do not have it.

[2022-02-08 19:10] madskristensen opened #327 "Cannot add GitHub Actions build badge"
**Describe the bug**
The stock GitHub Actions build badge isn't allowed since it links to an .svg file.

**To Reproduce**
Paste this into the description on the Marketplace page for a VS IDE extension:

`[![Build](https://github.com/madskristensen/EditorColorPreview/actions/workflows/build.yaml/badge.svg)](https://github.com/madskristensen/EditorColorPreview/actions/workflows/build.yaml)`

![image

[2022-02-08 19:15] chgill-MSFT commented on #327
Worth noting that, according to the [VS Code docs](https://code.visualstudio.com/api/references/extension-manifest#approved-badges), badges coming from github.com through workflows should work.

I believe @madskristensen also mentioned that this works fine when uploading with the CLI but not when uploading through the website, but he can confirm.

@pratikgawali-msft can you make sure the right per

[2022-02-08 19:22] madskristensen commented on #327
Yes, it works fine from the CLI, so it appears to be a website validation issue only

[2022-02-08 20:38] aquarion opened #328 "Extensions filter for publisher should be exact"

[2022-02-08 21:39] sandy081 commented on #328
CC @isidorn

[2022-02-09 10:47] isidorn commented on #328
I agree this is a bug, and we should fix this. For reference here's the image.

![Screenshot 2022-02-09 at 11 47 20](https://user-images.githubusercontent.com/1926584/153182841-284a02bb-9eab-41e2-a282-2fd69c61b0c0.png)

[2022-02-09 14:38] pratikgawali-msft commented on #294
Thanks @chgill-MSFT for the feedback. Now, the extensions shown on the Marketplace website landing page in the Featured section are all compatible with VS 2022.

[2022-02-09 16:28] #294 closed

[2022-02-09 17:00] Gramatik92 opened #329 "python"
Hello i want to instal Python extension and it says:

Error while installing 'Python Extension Pack' extension. Please check the [log](command:workbench.action.showWindowLog) for more details. and [2022-02-09 16:04:15.404] [renderer1] [info] IExtensionHostStarter.start() took 604 ms.
[2022-02-09 16:04:15.971] [renderer1] [error] [Extension Host] (node:8712) [DEP0005] DeprecationWarning: Buffer() i

[2022-02-09 17:01] Gramatik92 commented on #329
Sorry, so the problem is, i want to instal python extension in VSC and thats the problem...

[2022-02-09 19:24] madskristensen commented on #294
Awesome. Thank you!!
/cc @leslierichardson95

[2022-02-09 21:15] christianshay commented on #154
There are special characters (for example "/")  that are not needed and not documented that are messing up the tags.

This tag link is bringing up any extension that includes "PL" or "SQL" instead of those tagged "PL/SQL":
https://marketplace.visualstudio.com/search?term=tag%3APL%2FSQL&target=VSCode&category=All%20categories&sortBy=Relevance

[2022-02-10 07:38] pratikgawali-msft commented on #327
Thanks @madskristensen for reporting this. We have created a bug-item for this in our backlog.

[2022-02-11 07:44] pratikgawali-msft commented on #318
Hi @Jeskalana, VS Marketplace hosts extensions for VS Code. Could you provide more information if you are facing issues downloading/installing extensions from the VS Marketplace? Or you are facing issues with the working of certain extensions?

[2022-02-11 07:51] pratikgawali-msft commented on #305
Hi @D-scientist, VS Marketplace takes care of hosting extensions for VS Code. This seems to be an application error.

[2022-02-11 07:51] #305 closed

[2022-02-11 07:53] pratikgawali-msft commented on #304
Hi @D-scientist, VS Marketplace takes care of hosting extensions for VS Code. We can help you with issues like publishing, finding or installing extensions. This seems to be an application error.

[2022-02-11 07:53] #304 closed

[2022-02-11 08:09] pratikgawali-msft commented on #329
@isidorn since the issue is while installing the python extension on VS Code, could you please guide here?
If this is an issue with the python package, we could reach out to https://github.com/Microsoft/vscode-python.

Meanwhile, @Gramatik92 could you please confirm if you are still facing this issue because I am able to install the extension without facing any error?

[2022-02-11 08:13] pratikgawali-msft commented on #286
Hi @spgennard, it seems the HEAD calls to your domain URL without the `User-Agent` header returns a 403 forbidden error. Please refer the screenshot below:
![image](https://user-images.githubusercontent.com/79199166/153557347-7e7a8657-603f-4744-afea-abbcf9854f5b.png)

Could you please ensure it returns 200 OK to get unblocked? Otherwise, we are working on it to take care of it from our end.

[2022-02-11 08:58] prashantvc commented on #328
We are tracking all search related issue at #154

[2022-02-11 10:10] isidorn opened #330 "Each platform specific extension publish sends an email"
MP is sending a notification when an extension has been successfully published. The issue is that the MP treats each platform specific version of an extension like a separate extension. As a consequence extension authors get 9 notifications whenever a C++ extension is published

We should be better here and only send one notification with a summary.

fyi @SaiKanth007

![image](https://user-images.

[2022-02-11 10:32] sylvain-priser commented on #293
Hi Pratikgawali, thank you for your follow-up. Indeed this was a network issue with my outbound connection, this is solved now, so I will close the case.
Regards
Sylvain

[2022-02-11 10:32] #293 closed

[2022-02-12 20:46] spgennard commented on #286
@pratikgawali-msft - Thanks for doing the analysis.

The hosting service says a valid user-agent is expected, so I am not sure if I will be able to convince them to change it.

[2022-02-15 04:17] timheuer opened #331 "Unable to publish extension with vsixpublisher"
**Describe the bug**
Trying to publish my extension and the vsixpublisher generates exception:

[code]
See https://github.com/timheuer/AddActionsWorkflow/runs/5194535197?check_suite_focus=true#step:6:16

repo has manifest being used also

[2022-02-15 04:20] timheuer opened #332 "Cannot verify domain even though valid"
**Describe the bug**
trying to verify domain and it gives an error it is unreachable when it isn’t.
![E46E8925-39DE-4116-A5C5-DDE5DE098AEA](https://user-images.githubusercontent.com/4821/153991985-bc88c7af-198a-40ef-8a84-c3194c08018d.png)

[2022-02-15 06:29] prashantvc commented on #288
Closing this issue, it works as designed (https://github.com/microsoft/vsmarketplace/issues/288#issuecomment-1006279371)

[2022-02-15 06:29] #288 closed

[2022-02-15 07:11] nikhgup commented on #332
@timheuer we make HEAD call to verify the domain url and above URL returning 405 as response for HEAD call. Can you please allow HEAD call to return 200.

[2022-02-15 10:40] nikhgup commented on #331
@timheuer Categories mentioned here https://github.com/timheuer/AddActionsWorkflow/blob/main/vs-publish.json are not valid. we allow only one root category. root category can be "Controls", "templates", "tools".
category mentioned by you "build" and "source control" come under 'Tools' while "workflow" comes under 'Templates'. please remove "workflow" from category and you will be able to publish t

[2022-02-15 15:38] timheuer commented on #331
@nikhgup I removed the category (by the way this is not documented and
schemastore.org manifest is invalid then)

But still fails now with no helpful error message:
https://github.com/timheuer/AddActionsWorkflow/runs/5202694162?check_suite_focus=true#step:6:17

[2022-02-15 15:48] timheuer commented on #332
Thank you I got this working now.  Please update the documentation to
reflect this requirement -- it is not listed in the "eligible domain"
requirements.

[2022-02-15 16:20] timheuer opened #333 "[Documentation] Documentation is incomplete on category usage in manifest"
**Describe the bug**
When publishing via command-line and using a manfiest file, the documentation (https://docs.microsoft.com/en-us/visualstudio/extensibility/walkthrough-publishing-a-visual-studio-extension-via-command-line?view=vs-2022) is incomplete/missing requirements on what things like `categories` are allowed to have.

Per: https://github.com/microsoft/vsmarketplace/issues/331#issuecommen

[2022-02-15 20:27] timheuer commented on #332
@chgill-MSFT it's actually a 405 response, so it's not really checking for content, just likely control of the domain 'for real' -- I was fine to know that but it just wasn't documented clearly.

[2022-02-15 22:42] timheuer commented on #331
Hmm, this issue now looks like: https://github.com/microsoft/VSExtensibility/issues/70

[2022-02-16 06:23] nikhgup commented on #331
@timheuer I can see from logs your extension is published successfully. https://marketplace.visualstudio.com/items?itemName=TimHeuer.AddActionsWorkflow&ssr=false#overview.
Currently i don't see any other error except the earlier one with categories. Please let me know if we can close this issue?

[2022-02-16 17:35] timheuer commented on #331
I think we can close this as the new bug appears to be related to VS2022 and the vsixpublisher.

[2022-02-16 17:35] #331 closed

[2022-02-17 10:40] sathaker commented on #321
Hi @AbstractionsAs ,

Can you please try again and let us know, if things are functional for you now?
FYI - Hostname has been updated for you.

[2022-02-17 10:43] AbstractionsAs commented on #321
That worked – thank you!

/C

Fra: sathaker ***@***.***>
Sendt: torsdag 17. februar 2022 11:41
Til: microsoft/vsmarketplace ***@***.***>
Kopi: Christian Ruud ***@***.***>; Mention ***@***.***>
Emne: Re: [microsoft/vsmarketplace] Can't verify domain with Visual Studio Marketplace (Issue #321)

Hi @AbstractionsAs<https://github.com/AbstractionsAs> ,

Can you please try again and let us know, if thin

[2022-02-17 10:43] sathaker commented on #291
Hi @BartNetJS and @aslakhellesoy

We have updated our HEAD request. Can you please try again and confirm here?

[2022-02-17 10:46] sathaker commented on #321
Thank you for your quick response. Closing the issue.

[2022-02-17 10:46] #321 closed

[2022-02-17 21:03] #300 closed

[2022-02-18 09:10] zigomir opened #334 "Stop recommending Vetur for Vue v3+"
Since Vue.js version 3, [new recommended extension](https://vuejs.org/guide/scaling-up/tooling.html#ide-support) has been [Volar](https://marketplace.visualstudio.com/items?itemName=johnsoncodehk.volar).

It would be great if VSCode could take this into account and stop recommending `Vetur` in Vue 3 projects.

[2022-02-18 16:24] minsa110 opened #335 "Add "file an issue" button to the "Rating and Review" section"
Sometimes, issues are filed as VS Marketplace reviews that are supposed to be GH issues, which lowers the extension ratings. Even though the "Issues" link exists in the righthand column of the extension page, it doesn't seem as discoverable. Would it be possible to make filing an issue more prominent in the "Rating and Review" section by adding it as a button? Something like:

![image](https://use

[2022-02-18 17:56] misolori commented on #335
Similarly, other app stores have links for support/filing issues near where users write a review:

## Apple App Store
![CleanShot 2022-02-18 at 09 46 19@2x](https://user-images.githubusercontent.com/35271042/154735205-cc606f8b-f12f-409f-9c13-f43e50521355.png)

## Chrome
![CleanShot 2022-02-18 at 09 48 42@2x](https://user-images.githubusercontent.com/35271042/154735588-23f010e3-bb97-4f25-b72b-eb4c8

[2022-02-19 06:50] MKitty opened #336 "一直提示我输入root密码 我输入的正确密码 su root都可以正确就是vscode现实不正确"
Issue Type: <b>Bug</b>

一直提示我输入root密码 我输入的正确密码 su root都可以正确就是vscode现实不正确

VS Code version: Code 1.63.2 (899d46d82c4c95423fb7e10e68eba52050e30ba3, 2021-12-15T09:37:28.172Z)
OS version: Darwin x64 20.6.0
Restricted Mode: No

[2022-02-21 08:42] PEZ commented on #310
I just bumped into this limitation as well. We're using `<branch>-<short-commit-is>` for pre-releases, but the marketplace refuses to accept it.

[2022-02-21 09:48] SaiKanth007 commented on #330
The reason behind this is because, currently VSCode calls marketplace publishing endpoint for each VSIX individually. Hence the multiple notifications.

With the existing design, we will not be able to group all notifications into one. In future, if marketplace supports a single publishing endpoint to accepts multiple VSIX's to publish, we might be able to achieve this. Currently we don't have any

[2022-02-21 10:27] isidorn commented on #330
@SaiKanth007 thanks for the explanation.

[2022-02-21 11:49] yannduran commented on #259
@ljvmiranda921 did you ever find out the solution to this annoying problem? I'm having the exact same problem trying to publish a Visual Studio extension via a Github action.

[2022-02-21 12:19] yannduran commented on #301
I'd also like to know the answer to this too.

[2022-02-21 13:43] prashantvc commented on #335
This is something we have on our backlog; it will be a while we get to it :)

[2022-02-22 05:24] #332 closed

[2022-02-22 13:18] cgl712 opened #337 "xhr Failed"
Issue Type: <b>Feature Request</b>

Trying to add Live Server extension. When trying to search extensions I receive "Error while fetching extensions. XHR failed".

VS Code version: Code 1.64.2 (f80445acd5a3dadef24aa209168452a3d97cc326, 2022-02-09T22:02:28.252Z)
OS version: Windows_NT x64 10.0.19042
Restricted Mode: No

[2022-02-23 00:03] microhobby commented on #251
I'm closing this because it's now working. I was able to verify my `.com.br` domain.

[2022-02-23 00:03] #251 closed

[2022-02-24 05:38] SaiKanth007 commented on #330
@isidorn If you are good, can we close this issue ?

[2022-02-24 10:03] isidorn commented on #330
I suggest to leave it open to potentially tackle in the future. Just because an issue is open it does not mean we have to fix it right away.

However if your triaging process is such that you close aggressively then feel free and close this. Even though this is not our practice on the VS Code side. Thank you

[2022-02-24 18:13] #291 closed

[2022-02-25 14:23] EDOL12 opened #338 "include path"
Issue Type: <b>Bug</b>

ask to resolve "include path"

VS Code version: Code 1.64.2 (f80445acd5a3dadef24aa209168452a3d97cc326, 2022-02-09T22:02:28.252Z)
OS version: Windows_NT x64 10.0.19044
Restricted Mode: No

[2022-03-01 10:53] ssbarnea opened #340 "Unable to generate token that can publish a single extensions (security)"
**Describe the bug**
Currently any token with publish rights can publish any extension under the same organization. It is impossible to generate a token with permissions for a single extension.

**Expected behavior**

Be able to generate tokens that are limited to a single organization and with a life-span of one year or even more. Those should allow use in CI/CD pipelines.

**Additional context**

[2022-03-01 14:33] Enthusiast-007 opened #341 "Frontend doesn't support raw input"
Issue Type: <b>Feature Request</b>

input() request doesn't work in jupyter notebook cells in VS CODE, while on execution with any input() code it keeps on loading infinitely.

VS Code version: Code 1.64.2 (f80445acd5a3dadef24aa209168452a3d97cc326, 2022-02-09T22:02:28.252Z)
OS version: Windows_NT x64 10.0.19043
Restricted Mode: No

[2022-03-01 15:35] isidorn commented on #165
This is now supported by VS Code. Marketplace still has to support full SemVer for which I believe there is another issue (if not I know @prashantvc has this on the backlog)

[2022-03-01 15:35] #165 closed

[2022-03-01 15:51] DanTup commented on #165
I think the relevant issue (for those that want to subscribe) is https://github.com/microsoft/vsmarketplace/issues/50

[2022-03-02 08:45] #286 closed

[2022-03-04 18:55] stanislavyv commented on #235
+1

[2022-03-07 00:41] hl2guide opened #342 "Cleanup Store and Prevent Spammers and Scammers"
Please quickly clean up and prevent spam in the marketplace. Please protect your users.

Recent Extensions URL: https://marketplace.visualstudio.com/search?target=VSCode&category=All%20categories&sortBy=PublishedDate

It's being spammed with these extensions:
* robux
* Google Play Gift Card
* Amazon Gift Cards

e.g:

![1](https://user-images.githubusercontent.com/17044982/156949609-ab8044c4-5fcf-4

[2022-03-07 07:39] prashantvc commented on #342
Thanks for reporting the issue, we are actively working on preventing these spam extensions.
Meantime you may experience service degradation

We appreciate your patience ❤️

[2022-03-07 07:39] #342 closed

[2022-03-07 07:48] prashantvc commented on #342
Please use this https://github.com/microsoft/vsmarketplace/discussions/343 for further discussion

[2022-03-07 07:49] prashantvc commented on #341
Not marketplace related, you may want file it on VS Code or Jupyter extension repo

[2022-03-07 07:49] #341 closed

[2022-03-09 09:56] estruyf opened #344 "Provide details for when your extension has suspicious content"
I wanted to publish a new version of my extension, and I got the following message:

[code]

There hasn't been a change to the extension metadata since the last release. Not sure why it is happening. Also, it would be great to point out the actual issue.

[2022-03-09 11:15] estruyf opened #345 "Validation for extension publishing fails for new versions"
Issue Type: <b>Bug</b>

I wanted to publish a new version of my extension, and I got the following message:

VS Code version: Code 1.65.0 (b5205cc8eb4fbaa726835538cd82372cc0222d43, 2022-03-02T11:13:50.741Z)
OS version: Darwin arm64 21.2.0
Restricted Mode: No

[2022-03-09 11:17] estruyf commented on #345
Duplicate issue, seems that my previous one got moved to this repo.

[2022-03-09 11:17] #345 closed

[2022-03-09 11:23] estruyf commented on #344
Just verified the documentation again and did a couple of tests, the same happens on the **Manage Publishers & Extensions** page.

![Screenshot 2022-03-09 at 12 18 42](https://user-images.githubusercontent.com/2900833/157431643-3e059e0a-99ec-49a3-9c84-841752f4f318.png)

At least, there is a pointer to the docs which point out that the following constraints are checked:

- The icon provided in pack

[2022-03-09 11:23] prashantvc commented on #344
@estruyf I apologies you have to experience this.
Could you share your extension details? We will take a look

[2022-03-09 11:27] estruyf commented on #344
Here is my compressed vsix file. Hope this helps.

[vscode-front-matter-beta-7.0.1956421.vsix.zip](https://github.com/microsoft/vsmarketplace/files/8214226/vscode-front-matter-beta-7.0.1956421.vsix.zip)

[2022-03-09 11:28] symmb opened #346 "Extension README not updated on website"
**Describe the bug**
[Our extension's](https://marketplace.visualstudio.com/items?itemName=symflower.symflower) README is not updated on the Marketplace website after publishing an update. The extension page in VS Code shows the updated README. The extension page on the website shows the new version as the latest version but still has the old README.

At the time of writing, the version with the u

[2022-03-09 11:29] prashantvc commented on #344
Appreciate your patience while we investigate the issue.
I will see if we can provide you a workaround in the meantime

[2022-03-09 11:35] tamuratak opened #347 "The group vsmarketplace-core only accepts messages from people in its organization or on its allowed senders list, and your email address isn't on the list."
**To Reproduce**
Steps to reproduce the behavior:
1. Click `Report Abuse`  of an extension on the marketplace.
2. Send e-mail from one's GMail account.
3. Received a message from `postmaster@microsoft.com`

E-mails from GMail accounts should be accepted.

[2022-03-09 12:18] tronical commented on #344
We're running into the same error message when trying to update [our extension](https://marketplace.visualstudio.com/items?itemName=Slint.slint-nightly). Do you know what could cause this error message?

[2022-03-09 13:47] jpogran commented on #346
I can confirm this is also the case for https://marketplace.visualstudio.com/items?itemName=HashiCorp.terraform, which should look like https://github.com/hashicorp/vscode-terraform/blob/main/README.md

I assume this is an artifact of the recent spam mitigation?

[2022-03-09 15:49] gareth-rees commented on #344
I encountered the same problem trying to update the [Time Travel Debug for C/C++ extension](https://marketplace.visualstudio.com/items?itemName=Undo.udb). Here's a screenshot of the error message:

![Screenshot from 2022-03-09 09-33-01](https://user-images.githubusercontent.com/922721/157476938-f72ad0d0-092a-4e9d-8e3d-aa72e659b61b.png)

I was unable to contact marketplace support due to issue #347

[2022-03-09 17:19] anangaur opened #348 ""Recently Added" shows lots of test extensions"
Can we prevent them from showing on recently added?

May be ask folks to add a specific tag thats filtered out.

![image](https://user-images.githubusercontent.com/14800916/157495529-3f71fa17-b440-4e55-b28a-d9eeff5c9350.png)

[2022-03-09 17:45] prashantvc commented on #344
We have noticed surge of spam extensions in the marketplace this week. We dialed up the spam detection code, and this is side effect, unfortunately.

Please note that the team is working tirelessly to restore the service, and we apricate your patience

[2022-03-09 18:32] sathaker commented on #344
Hi @estruyf @tronical @gareth-rees

We have shipped the fix and you should be able to update your extension as desired. Feel free to retry and confirm here. Thank you for your patience.

[2022-03-09 19:18] estruyf commented on #344
Thanks @sathaker, I can confirm that the APIs are working again.

[2022-03-09 19:35] zimmski commented on #346
@jpogran do you have a link on an announcement that the marketplace is doing some form of spam mitigation? Seems my Google-foo is not strong enough.

[2022-03-09 20:13] gareth-rees commented on #344
@sathaker @prashantvc I was able to update the [Time Travel Debug for C/C++ extension](https://marketplace.visualstudio.com/manage/publishers/Undo). Thank you for fixing the problem.

[2022-03-09 20:24] jpogran commented on #346
@zimmski https://github.com/microsoft/vsmarketplace/discussions/343

[2022-03-10 10:09] dimacodota commented on #344
We're running into the same issue,  when trying to update the [Tabnine extension](https://marketplace.visualstudio.com/items?itemName=TabNine.tabnine-vscode)

[2022-03-10 10:49] symmb commented on #346
Update: We've published new versions and the README has finally changed. I'd leave this issue open since it still seems like a bug that you have to publish another version to update the README.

I'm pretty sure it's the new version that caused it to update and not anything time-based since the Terraform extension has had its new README out for over a week now and it's still stale on the website.

[2022-03-10 11:51] zimmski commented on #346
@jpogran thanks!

@symmb will post a smaller change to the README later today. Let's see if the marketplace changes again with that pattern.

[2022-03-10 16:02] ssbarnea commented on #340
@prashantvc Any chance you can have a look at this? If you want I am more than happy to also have a call and share our experience, maybe we can find some solutions to improve the publishing and maintenance experience.

[2022-03-11 07:48] SaiKanth007 commented on #347
This issue has now been fixed.

[2022-03-11 14:54] Vaporizer-dev commented on #344
Hi @prashantvc
I'm having the same issue, unable to upload vscode theme like before.(extension has suspicious content...)

[2022-03-11 17:46] anangaur commented on #23
My 2 cents: Deprecation and Hiding extensions are 2 different things. Deprecation can mean that a specific extension is deprecated because it's no longer being maintained, or it may have some critical issues. The experience to deprecate extension could have a way to specify (may be by default but can be opted out) that it should be hidden as well.
Suggested add-ons to deprecation functionality:
-

[2022-03-15 11:08] #347 closed

[2022-03-15 11:09] tamuratak commented on #347
I have confirmed.

[2022-03-15 23:15] mattwhitfield commented on #301
Me too, and also whether the feature will support multiple older/newer versions. I.e. if I have an extension that is compatible with the pre-2022 (x86) architecture and the post-2022 (x64) architecture - will I just be able to list a '2019 and older' version and a '2022 and newer' version, or could I register 2015, 2017, 2019 and 2022 versions?

[2022-03-17 12:01] SimpsonGSD commented on #301
I have been holding creating a second product for VS2022 so I would like to know if/when this will be possible.

[2022-03-18 04:07] Lakshmikanth2001 commented on #344
Even I am facing the same error

`Your extension has suspicious content. Please fix your extension metadata, or reach contact support if you need assistance.`

[githooks-0.1.3.zip](https://github.com/microsoft/vsmarketplace/files/8301461/githooks-0.1.3.zip)

please help me out

[2022-03-18 11:41] rafasoares commented on #20
I'd like to add, since now we have support for `@category` filters, being able to exclude categories would be awesome!

Something like `foo -@category:themes`.

Thanks!

[2022-03-19 16:43] christianshay opened #349 "Searches that include "/" do not work properly for example "tag:PL/SQL""
There are special characters (for example "/") that are not needed and not documented that are messing up the tags.
Our extension includes a tag "PL/SQL". When you click it, you see all extensions that include the tag "SQL" instead.

https://marketplace.visualstudio.com/search?term=tag%3APL%2FSQL&target=VSCode&category=All%20categories&sortBy=Relevance

Users may follow that link by clicking the "

[2022-03-20 20:11] felangel opened #352 "Extension Validation Error - your extension has suspicious content"
I am unable to publish updates to the https://marketplace.visualstudio.com/items?itemName=FelixAngelov.bloc VSCode extension. The verification step fails due to a verification error saying the extension contains suspicious content but without any additional details. The only thing I've changed recently has been how the extension is bundled in order to reduce the overall bundle size (https://github

[2022-03-21 05:16] mayzabook4 opened #350 "15128181512818151281"
Issue Type: <b>Feature Request</b>

15128181512818151281

VS Code version: Code 1.65.2 (c722ca6c7eed3d7987c0d5c3df5c45f6b15e77d1, 2022-03-10T14:33:55.248Z)
OS version: Windows_NT x64 6.1.7601
Restricted Mode: No

[2022-03-21 05:16] mayzabook4 opened #351 "15128181512818151281"
Issue Type: <b>Feature Request</b>

15128181512818151281

VS Code version: Code 1.65.2 (c722ca6c7eed3d7987c0d5c3df5c45f6b15e77d1, 2022-03-10T14:33:55.248Z)
OS version: Windows_NT x64 6.1.7601
Restricted Mode: No

[2022-03-21 08:53] prashantvc commented on #352
@felangel I am sorry that you're facing this issue. Marketplace spam detection is bit aggressive lately.
I have notified the team, you will be unblocked soon

[2022-03-21 13:55] felangel commented on #352
Thanks! Will I need to publish another version afterwards?

[2022-03-21 18:03] InbarGazit commented on #352
We have the same issue, getting this:
![image](https://user-images.githubusercontent.com/9680618/159336032-5aee86b9-fae5-4665-a32c-fb325b3b0524.png)
Any advise?

[2022-03-21 18:27] MahalingamVR commented on #352
Hi @felangel, sorry for the issue and you should be able to publish your extension now without any changes.

There is a recent surge of spam extensions, and as part of multiple measures to stem the surge, we blocked extensions that refer "tinyurl.com" temporarily and it had a side-effect on blocking your extension as one of the images in your extension refer the url.

[2022-03-22 17:08] isidorn commented on #154
One more example:

![image](https://user-images.githubusercontent.com/1926584/159536309-30a4d471-2a29-4b95-b5f0-eb6f92787ae2.png)

[2022-03-22 20:05] leodevbro commented on #352
I got the same error. It's strange. Should I just wait and the error will disappear? Or should I reupload the 1.5.7 version? It's strange, there is nothink like spam or anything in my extension.
![2022-03-23_00-02-09](https://user-images.githubusercontent.com/54504880/159566430-440a11a5-5a2f-42f3-b955-96e2c0091240.png)

[2022-03-23 10:34] #351 closed

[2022-03-23 10:35] #350 closed

[2022-03-23 10:37] isidorn opened #353 "Better analytics support for extension authors"
Currently there are not a lot of analytics that extension authors can get from the Marketplace.
We need much better support here, for example:
* weekly download counts
* downloads by regions
* activation numbers
* Usage by version type etc...

[2022-03-23 13:39] RandomFractals commented on #353
might be worth reviewing and clarifying the acquisition funnel as part of this enhancement too: https://github.com/microsoft/vsmarketplace/issues/53

Personally, I would like to see hourly install stats, if possible, and the number of installs and downloads since extension was published. It helps to see downloads when new extension version is published to estimated how many devs updated it.

Perha

[2022-03-23 14:05] roytaishi commented on #352
Hey @leodevbro, the issue has been resolved, you can try reuploading it. Sorry for the inconvenience!

[2022-03-23 19:19] leodevbro commented on #352
Thanks, it uploaded successfully now.

[2022-03-24 07:29] roytaishi commented on #352
Hey @InbarGazit , are you still facing this issue? If so you can provide us the Publisher Name and Extension Name and we will look into it.

[2022-03-25 09:23] Umb40k opened #356 "Lost access to a VSCode Marketplace Publisher"
VSCode Version: N/A
OS Version: N/A
I lost access to a [VSCode Marketplace Publisher](https://marketplace.visualstudio.com/publishers/UmbertoPiscopo) I’d created. I was wondering whether there was any way to verify my ownership of the publisher profile so as to update the “Collapse and Reveal” extension associated with it. Happy to confirm any of the account details, prove my ownership of the GitH

[2022-03-25 09:34] joaomoreno commented on #354
Unfortunately, the Marketplace started restricting extension names and makign them unique despite the publisher.

A better error message should be sent from the service, clarifying what is meant by `Extension Id`.

cc @isidorn @sandy081

---

@holazz I suggest picking a different extension name, since `open-in-browser` is taken.

[2022-03-25 09:48] isidorn commented on #354
We should also communicate this change clearly to extension authors. @prashantvc can you please take the lead here?

[2022-03-25 10:31] holazz commented on #354
I noticed that both `igordvlpr.open-in-browser` and `techer.open-in-browser` exist in the Marketplace. Isn't `${publisher}.${name}` as  Extension Id ?

[2022-03-25 10:32] holazz commented on #354
I noticed that both `igordvlpr.open-in-browser` and `techer.open-in-browser` exist in the Marketplace. Isn't `${publisher}.${name}` as  Extension Id ? @joaomoreno

[2022-03-25 11:00] isidorn commented on #354
@holazz marketplace is moving to the new model. @prashantvc can provide more details what happens with the existing name conflicts.

[2022-03-26 15:05] FrankSAURET commented on #299
Hi,
I always have this erreur at home :
`{"$id":"1","innerException":null,"message":"TF400733: The request has been canceled: The request has exceeded request timeout, please try again.","typeName":"Microsoft.TeamFoundation.Framework.Server.RequestCanceledException, Microsoft.TeamFoundation.Framework.Server","typeKey":"RequestCanceledException","errorCode":0,"eventId":3000}`

and publishing is ok

[2022-03-28 04:38] Zayar-Shane opened #355 "failed to install extensions from marketplace"
Issue Type: <b>Bug</b>

xhr failed when I try to install extensions from marketplace

VS Code version: Code 1.65.2 (c722ca6c7eed3d7987c0d5c3df5c45f6b15e77d1, 2022-03-10T15:36:26.048Z)
OS version: Linux x64 5.13.0-37-generic
Restricted Mode: No

[2022-03-28 16:34] degensean commented on #352
@prashantvc Same issue here. Can't publish. What can I do?

[2022-03-28 16:46] Umb40k commented on #356
Hi,

I have already asked for support thought case to this email address but
none replayed me, this is the email thread:
Hi,

any news? I need to add the new id to the extensions members:
id: 4be2f9ee-e885-652d-932c-6e3ea54a8eb1

My old account  is this:
[image: image.png]

thank you
Nascondi testo citato

Il giorno mer 16 mar 2022 alle ore 14:32 umberto piscopo <
***@***.***> ha scritto:

Hi,
thi

[2022-03-28 19:30] prashantvc commented on #352
@degensean We are trying to fix this as soon as possible.
mean time could you share your marketplace account and extension details  at prchol@microsoft.com

[2022-03-28 20:58] VisualMicro opened #357 "VS2022 specific extensions are still not easily visible to users - It's been many months since VS2022 was released"
As you know it is not possible for most extensions to sit in the gallery as both VS2019 and VS2022.

The gallery is showing 2019 extensions but Microsoft are recommending users install VS2022.

Around the time that VS2022 was in preview there was a thin yellow horizontal strip near the top of the main gallery page that, ineffect, said "Click here to see Visual Studio 2022 extensions". That message

[2022-03-29 15:41] zxch3n commented on #150
I think it'll be very helpful if people can rate directly from VSCode when they already log in with a Github account. Right now it's too complicated to give a rating. Few people have vs marketplace logged in on their machines.

[2022-03-30 08:08] pgrivachev opened #358 "Web version of Marketplace doesn't match text for extension inside VS Code"
Issue Type: <b>Bug</b>

The web version of Marketplace contains text from the previous release. After each release the text of web version of Marketplace is updated but it is always one release behind.

Actual text: https://marketplace.visualstudio.com/items?itemName=Fivetran.dbt-language-server
![image](https://user-images.githubusercontent.com/3650304/160825223-9cc8b4dc-dcbe-4aee-bd17-b415afea3b

[2022-03-30 10:35] xiaobindebingo commented on #352
I have meet the same Problem,  and I have send you an email; please help me to resolve it soon; thank you very much

[2022-03-30 12:18] pagnkelly commented on #299
same with you

[2022-03-31 11:57] snoweuph opened #362 "Feature Request -> support for range http Header on extension download server"

[2022-03-31 12:48] roytaishi commented on #352
Hi @lunarwtr  and @xiaobindebingo , you can try reuploading it now, the issue has been fixed. Let me know if you have any other problems.

[2022-03-31 14:58] madskristensen opened #359 "Most Popular and Highest Rated show VS 2019 extensions instead of VS 2022"
![image](https://user-images.githubusercontent.com/1258877/161085978-3d2f9cae-419e-4f52-ba64-10b8285fa861.png)

[2022-03-31 15:00] chgill-MSFT commented on #359
@prashantvc this seems like a quick fix that may be impactful for VS 2022 extension discovery 🙂

[2022-03-31 15:55] lunarwtr commented on #352
Thank you.  Confirmed it allowed me to publish.

[2022-04-01 04:43] insipidlight opened #360 "Microsoft Python (Pylance) extension page GIF preview scaling"
Issue Type: <b>Bug</b>

# Behaviour
## Expected vs. Actual

XXX

## Steps to reproduce:

1. XXX

# Diagnostic data

-   Python version (& distribution if applicable, e.g. Anaconda): 3.10.0
-   Type of virtual environment used (e.g. conda, venv, virtualenv, etc.): Pyenv
-   Value of the `python.languageServer` setting: None

<details>

<summary>User Settings</summary>

<p>

[code]

</p>
</details>

[2022-04-01 06:03] prashantvc commented on #359
Yeah, I agree. We need to change the query to surface VS 2022 extensions.
VS '19 and '20 being two different entries; '19 entries do come out on top

[2022-04-02 01:44] chalist opened #361 "@sort:installs doesn't work properly"
Does this issue occur when all extensions are disabled?: Yes/No

- VS Code Version: 1.65.2
- OS Version: ManjaroLinux 21.2.5

Steps to Reproduce:

1. search for something (I try with js snippets)
2. sort according to installed count

results doesn't relate to search. In fact, the number of installations has priority over search query.

![image](https://user-images.githubusercontent.com/1072154/161

[2022-04-04 04:06] prashantvc commented on #354
We are working new extension model where extension names must be unique. As @holazz suggested could you pick different name instead of `open-in-browser`

We will update the error message to be more descriptive

[2022-04-04 04:34] prashantvc commented on #354
We have changed the error message for better clarity and call for action to fix the issue

[2022-04-04 04:47] prashantvc commented on #354
Keeping it opened until the fix goes live :)

[2022-04-04 06:11] sandy081 commented on #361
It seems MP is not respecting the filter text when `sortBy` is set

[code]

[2022-04-04 06:53] radeksimko commented on #354
@prashantvc Can you explain what will happen to the _existing_ name conflicts? Will they be forced to change IDs - if so, how do you decide which ones stay and which ones will be renamed?

[2022-04-04 08:16] prashantvc commented on #354
When we migrate to new system extension identifier will just be `name` from the `package.json`.

In case there is a conflict, for example `ms.python` and `google.python`, we will use the current convention of `{publisher}.{name}`.

[2022-04-04 09:39] gjsjohnmurray commented on #361
https://github.com/microsoft/vsmarketplace/issues/361

[2022-04-04 16:30] azaslavsky opened #365 "Unable to complete `vsce login` or `vsce publish`, hangs after "Personal Access Token verification succeeded""
Whenever I try either of `vsce login [MY_PUBLICATION_GROUP]` or `vsce publish`, the process seems to hang after "The Personal Access Token verification succeeded for publisher [MY_PUBLICATION_GROUP]" prints to my terminal's `stdout`.  I left it on overnight to see if this was due to something just being very slow, but it didn't seem to move, and the version number on my package still has not updat

[2022-04-04 19:58] softworkz opened #363 "Incorrect Search Results"
**Describe the bug**
Searching from the search box in the header bar returns VS2019 results but not VS 2022 results.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://marketplace.visualstudio.com/items?itemName=MadsKristensen.Tweaks2022
2. Enter "Tweaks" into the search box:

![image](https://user-images.githubusercontent.com/4985349/161621404-c4567e75-08c3-45b0-81f5-7316c9049fb4

[2022-04-05 06:41] PCoeur opened #364 "扩展市场图标提示有一个插件可更新，但实则无插件更新"
Issue Type: <b>Bug</b>

扩展市场图标右小角显示数字1，人工查看已安装的插件并未有插件需要更新

VS Code version: Code 1.66.0 (e18005f0f1b33c29e81d732535d8c0e47cafb0b5, 2022-03-30T05:50:14.623Z)
OS version: Windows_NT x64 10.0.19044
Restricted Mode: No

[2022-04-05 14:05] joaomoreno commented on #365
@prashantvc Any chance we can get traceability here?

[2022-04-05 17:04] prashantvc commented on #365
@azaslavsky

I believe, this is due to policy restricting Global PATs in the AzDO. More [here](https://devblogs.microsoft.com/devops/issue-with-extension-publishing/), please try the suggested workaround in the blog.

In mean time I will ask one of the engineers to take a look at the issue

[2022-04-05 20:03] azaslavsky commented on #365
I didn't realize that it was possible to update the extension through the UI as well.   I've gone ahead and used that route - thank you!

[2022-04-06 05:47] faelribeiro22 opened #366 "Click in a button copy into marketplace vscode, but nothing happen's"
**Describe the bug**
With to click in the copy button, its not working.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://marketplace.visualstudio.com/items?itemName=rickynormandeau.mariana-pro'
2. Click on 'copy'
3. Go to VsCode
4. Press ctrl + P and paste (ctrl + v)

**Expected behavior**
When click in copy button, the script to install extension in vscode should into a clipbo

[2022-04-06 08:03] prashantvc commented on #365
Glad to hear that, but did the workaround helped in any way?

[2022-04-06 17:47] shahata commented on #235
+1

[2022-04-06 21:16] pansito opened #367 "service not available"
Issue Type: <b>Bug</b>

Stops working the session for the ussers

VS Code version: Code 1.64.2 (f80445acd5a3dadef24aa209168452a3d97cc326, 2022-02-09T22:02:28.252Z)
OS version: Windows_NT x64 10.0.19044
Restricted Mode: No

[2022-04-07 01:10] azaslavsky commented on #365
I didn't do any of those things - I just went directly to the web UI, and
uploaded it there.  I'm sorry if that's not very helpful!

On Wed, Apr 6, 2022, 01:04 Prashant Cholachagudda ***@***.***>
wrote:

[2022-04-07 10:19] SNDST00M commented on #235
The comment emoji feature has been around for 6 full years. Just give the original issue a 👍 emoji reaction.

You may see 30 participants but there are probably hundreds of subscribers you're notifying with it. Microsoft does not count your +1 comments - nobody does.

[2022-04-07 11:07] IPcorps commented on #235
Personally, I don't mind getting this notification that I'm not the only one with this issue. And continues to worry. Do you really think microsoft counts emoji under the original issue?

[2022-04-07 16:54] mmjconolly commented on #235
Bumping it above other more recent bugs is entirely the point.

[2022-04-07 19:56] SNDST00M commented on #235
I see it as microposting as it buries valid comments with use cases that could inform dev work or user story. "Most comments" is useless to me but let's agree to disagree

[2022-04-11 03:54] Tojimurodovsardor25 opened #368 "Uzbek Language Pack for Visual Studio Code"
Hello there! There are many programmers and IT specialists in Uzbekistan now, so can you work on a package in Uzbek for Visual Code Studio? Thanks in advance for your answer!

[2022-04-11 13:38] shrey0258 opened #369 "themes not responding"
Issue Type: <b>Performance Issue</b>

themes are not getting downloaded always showing error message

VS Code version: Code 1.66.1 (8dfae7a5cd50421d10cd99cb873990460525a898, 2022-04-06T14:50:12.141Z)
OS version: Windows_NT x64 10.0.22000
Restricted Mode: No

[2022-04-11 13:50] jedidrew50 opened #370 "Cant connect to marketplace"
Issue Type: <b>Bug</b>

I clicked the extensions icon. Then I get a message that says unable to search marketplace offline.

VS Code version: Code 1.66.0 (e18005f0f1b33c29e81d732535d8c0e47cafb0b5, 2022-03-30T05:50:14.623Z)
OS version: Windows_NT x64 10.0.22000
Restricted Mode: No

[2022-04-12 11:12] alimazii opened #373 "y"
Issue Type: <b>Performance Issue</b>

*Context*
- Managed Dependencies: on
- Cloud SDK Version: Not installed
- Skaffold Version: Not installed
- Minikube Version: Not installed

VS Code version: Code 1.65.2 (c722ca6c7eed3d7987c0d5c3df5c45f6b15e77d1, 2022-03-10T14:33:55.248Z)
OS version: Windows_NT x64 6.1.7601
Restricted Mode: No

[2022-04-12 11:12] #373 closed

[2022-04-12 13:47] InTheCloudDan opened #374 "Unable to publish extension"
**Describe the bug**
Trying to publish an update to the [LaunchDarkly Integration V2](https://marketplace.visualstudio.com/items?itemName=launchdarkly.launchdarkly-extension) Azure Dev Ops extension by following [your documentation](https://docs.microsoft.com/en-us/azure/devops/extend/publish/overview?view=azure-devops#update-an-extension) but am running into a variety of issues.

When trying to d

[2022-04-13 10:08] prashantvc commented on #374
Thanks for the report @InTheCloudDan
We are looking into this issue, we will keep you posted as soon as possible

[2022-04-14 14:30] mvturnho commented on #352
Hi , It seems I have the same issue with the marketplace. I could upload this morning, changed the README.md and now the upload fails with:
![image](https://user-images.githubusercontent.com/2076073/163412112-17bb051f-1995-47dc-b046-ea1577ba3fab.png)

[2022-04-14 17:31] VisualMicro opened #375 "How to see extensions that are only for VS2022?"
The front page of the gallery does not provide a link to VS2022 extensions.

[2022-04-15 11:39] RIyu200272 commented on #355
I had the same issue too tried lots of tutorials but it still doesnt work for me

[2022-04-15 11:42] RIyu200272 opened #376 "extensions"
Issue Type: <b>Performance Issue</b>

i tried to download extensions from the market place in VS code , but it appeared fail to do that and the error messages were XHR failed ,I've tried countless of tutorials but it still doesnt work for me

VS Code version: Code 1.66.2 (dfd34e8260c270da74b5c2d86d61aee4b6d56977, 2022-04-11T07:46:01.075Z)
OS version: Windows_NT x64 10.0.22000
Restricted Mode: No

[2022-04-15 13:23] mvturnho commented on #352
Problem solved this afternoon

[2022-04-18 04:31] madhurivadaligithub commented on #374
Hi @InTheCloudDan
We will hit this error while re uploading already existing extension in the Marketplace, as we reserved vsix id's.
Can you please try extension update through options from the extension.

-Select an extension from the list of displayed items.
-Right-click and select Update for the publisher.

<img width="545" alt="Update_extension" src="https://user-images.githubusercontent.com/8

[2022-04-18 10:26] kettanaito opened #378 "Getting "Extension ID already exists" for extension ID that doesn't"
**Describe the bug**
I'm trying to publish a new extension with a unique ID (gives 404 on the marketplace if you try to find it). Yet I'm getting an error stating that such ID exists.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to the [Extension detail page I'm trying to publish](https://marketplace.visualstudio.com/items?itemName=CodeSandbox-io.codesandbox-theme).
2. See the 404 page

[2022-04-19 00:12] dodu2014 opened #379 "unable to create publisher account"
**Describe the bug**
unable to create publisher account

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '[...](https://marketplace.visualstudio.com/)'
2. Click on 'Publish extensions'
3. After completing the basic information, click Create
4. See error, can't go next

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
<img width="666"

[2022-04-19 14:26] afifahli opened #381 "Build tool crashed. Please contact owner for support."
Issue Type: <b>Bug</b>

  Build tool crashed.  Please contact owner for support.
    Error message: failed to open clipboard

VS Code version: Code 1.63.1 (fe719cd3e5825bf14e14182fddeb88ee8daf044f, 2021-12-14T02:13:54.292Z)
OS version: Windows_NT x64 10.0.18363
Restricted Mode: No

[2022-04-19 16:11] Jolg42 opened #382 "`code --install-extension Prisma.prisma-insider@[version]` returns `Server returned 503`"
We are seeing many `Server returned 503` errors from this command in our CI (GitHub Actions):
[code]
This command is called for each new version (with the corresponding version)

The full source code is located at https://github.com/prisma/language-tools/blob/main/scripts/e2eTestsOnVsix/install_extension.js

The GitHub Action workflow runs:
https://github.com/prisma/language-tools/actions/workflow

[2022-04-19 16:27] madhurivadaligithub commented on #302
@johleung3838  Is this issue resolved?

[2022-04-19 17:32] Jolg42 commented on #382
Isidor pointed me to this status event on a different URL (https://github.com/microsoft/vscode-test/issues/142#issuecomment-1102878873):
https://status.dev.azure.com/_event/302592133

So it seems that the https://vsstatus.visualstudio.com/ page is out of sync here.

[2022-04-19 23:29] johleung commented on #302
Yes, issue is related specifically to our company blocking installation of ADO extensions in our ADO organisation.

[2022-04-21 09:09] gjsjohnmurray opened #383 "New versions of VS Code extensions published with `vsce publish` are not yet available for download"
Yesterday I published a total of 3 versions of 2 different extensions under a single publisher. Fifteen hours later they are still not being offered to VS Code users when checking for updates.

The "Updated" column of the Marketplace management page shows the expected times, but the new versions don't show in the "Manage" tab of the "Reports" page.

![image](https://user-images.githubusercontent.c

[2022-04-21 09:40] prashantvc opened #384 "Disruption in extension update flow"
Latest version for some of the extensions (extensions created recently) are not being available on the Extension download page and in the VS Code auto update flow.

The team is investigating the issue and we will keep you posted

[2022-04-21 09:41] prashantvc commented on #384
Related issue https://github.com/microsoft/vscode/issues/147801

[2022-04-21 09:42] prashantvc commented on #383
Hey, we are investigating this issue, we are experiencing the service disruption.
CC #384

[2022-04-21 09:43] prashantvc commented on #382
Are you still facing this issue? Could you let us know if it is resolved

[2022-04-21 09:52] Jolg42 commented on #382
Looks all good now!
Thanks 💚

[2022-04-21 09:52] #382 closed

[2022-04-21 10:50] InTheCloudDan commented on #374
Hi @madhurivadaligithub thanks for following up here. That process was followed with the same error resulting. Can you help us with any next steps please?

![image](https://user-images.githubusercontent.com/10308834/164442706-1c5f3397-8c63-41f9-b17f-a57971ba357f.png)

![image](https://user-images.githubusercontent.com/10308834/164442736-ec08cd89-0bf2-4c62-abfb-8efa677b8326.png)

![image](https://u

[2022-04-21 11:39] PEZ commented on #384
Hello, just so I understand this correctly. https://github.com/microsoft/vscode/issues/147801 is about an extension that _is_ available on the Extension download page, but that then isn't found during a search for extensions updates. Is this still related given that context?

Also, exactly at 13:37 (CET), I managed to find it with the extension update check. Dunno if you fixed something, but anywa

[2022-04-21 22:20] gjsjohnmurray commented on #383
Missing entries appeared:
![image](https://user-images.githubusercontent.com/6726799/164560638-01ce0e0f-8b0b-4d31-8c06-f3962a137f2a.png)

![image](https://user-images.githubusercontent.com/6726799/164560724-fbc8e7b0-352d-4c64-9f00-12029d7d2611.png)

But still not showing up as available from VS Code's Extensions view.

And when I go back to the management pages in my screenshots above, the entries

[2022-04-22 05:31] gjsjohnmurray commented on #384
@prashantvc please provide a status update on this issue. Our inability to get extension updates published (see #383) is becoming a bigger problem with each passing day.

[2022-04-22 09:45] PEZ commented on #383
We experienced the same with our extension: https://github.com/BetterThanTomorrow/calva/issues/1689

What was extra strange, but also offers a workaround for our users, is that if they:

1. uninstall the extension
2. reload the window
3. install the extension again

the latest version is installed.

[2022-04-22 11:39] gjsjohnmurray commented on #384
Seems to have been resolved now, at least for the two extensions I had problems with (#383).

[2022-04-22 11:40] gjsjohnmurray commented on #383
The missing versions showed up a couple of hours ago, and this time they didn't vanish again. Extensions view from VS Code was able to update to these versions, and I was able to publish another version of one of them without problem.

[2022-04-22 11:40] #383 closed

[2022-04-22 13:05] prashantvc commented on #384
We are currently dealing issue with cache refresh in VS Marketplace, it's causing problem with updates and new extension publishing. The team is still working to fix the issue, it's our only priority right now. I will have more details to share soon.

We really appreciate your patience

[2022-04-22 15:31] wdy2580 opened #385 "Request translation plug-in"
Issue Type: <b>Feature Request</b>

The translation plug-ins in the plug-in market are difficult to use. Can Microsoft create a plug-in like the translation on the Liesi idea, which can display a translation box in the UI.

VS Code version: Code 1.66.2 (dfd34e8260c270da74b5c2d86d61aee4b6d56977, 2022-04-11T07:46:01.075Z)
OS version: Windows_NT x64 10.0.19044
Restricted Mode: No

[2022-04-24 15:11] AndAShape commented on #230
Still an issue here...

[2022-04-25 05:58] MahalingamVR commented on #352
Hello, Sorry for the inconvenience here. We have unblocked you and you should be able to publish now. We actively monitor our spam validation checks and unblock false positives. Please reach out to "vsmarketplace@microsoft.com" and we could share the reason the extension upload was blocked in the initial run, though you will not be having any further issues in the future.

[2022-04-25 10:42] Steakeye commented on #352
Hi,

We're also experiencing this issue for [GitLive](https://marketplace.visualstudio.com/items?itemName=TeamHub.teamhub):

[code]

We'd love an assist on this, if you could reach out to my boss nick@git.live that would be great!

[2022-04-25 12:32] cgremmel commented on #230
Same here!

[2022-04-25 16:01] munishgoyal1 commented on #384
With the fix in place, the issue has subsided and we are seeing the cache refreshes coming back to normal. We are continuing to monitor actively.
Thank you for your patience.

[2022-04-26 05:04] madhurivadaligithub commented on #374
Hi @InTheCloudDan
Can you please share what changed w.r.t. service endpoints between these extension versions?

[2022-04-26 12:44] nmgsa opened #386 "Sorry, we are unable to load the change quantity experience. Give it few mins and then try again."
I'm getting the following error message when trying to purchase a Visual Studio license from the Visual Studio Marketplace.

_Sorry, we are unable to load the change quantity experience. Give it few mins and then try again._

I've tried in Edge and Chrome.

[2022-04-26 13:02] RoryBecker opened #387 "I need to remove or hide some of my old VS extensions."
I need to remove or hide some of my old VS extensions.

The extensions are those placed here -> https://marketplace.visualstudio.com/publishers/CodeRushCommunityContributors

I would gladly log in and do this myself, but I do not know the associated email to do so with.
Can someone tell me the associated email so that  I might attempt a password reset?

If necessary I am happy to cooperate in prov

[2022-04-26 22:33] AndAShape commented on #230
It's a CORS error again, according to the console.

[2022-04-27 02:34] EB-CMS opened #388 "Error loading webview"
Issue Type: <b>Bug</b>

details does't apeare!

VS Code version: Code 1.66.2 (dfd34e8260c270da74b5c2d86d61aee4b6d56977, 2022-04-11T07:46:01.075Z)
OS version: Windows_NT x64 10.0.19042
Restricted Mode: No

[2022-04-28 01:35] SaiKanth007 commented on #299
Hi FrankSAURET,

I suspect the issue might be because of the _abriand-sin_ extension size which is 47 MB. I took a look at your other [extensions](https://marketplace.visualstudio.com/publishers/electropol-fr) that you were able to upload successfully from home, all of their size is less than 4 MB. That might be the reason.

What my hunch is that the stream might not be reaching the marketplace en

[2022-04-28 12:16] FrankSAURET commented on #299
Hi SaiKanth007,
It's possible, my home is in the middle of nowere. My upload speed is about 100kb/s.

Is there a solution ?

[2022-04-29 15:57] InTheCloudDan commented on #374
@madhurivadaligithub we were only trying to change the logo as part of the update. Nothing related to the service endpoints.

[2022-04-30 18:02] samuelriboulet opened #389 "la marketplace ne fonctionne pas"
Issue Type: <b>Performance Issue</b>

Bonjour. Depuis une semaine, j'essaie d'installer une extension pour fortran.
Malheureusement, quand je lance une quelconque recherche dans la marketplace, il apparaît: "erreur lors de la récupération des extensions. XHR failed". Comment faire pour arranger ça?

VS Code version: Code 1.66.2 (dfd34e8260c270da74b5c2d86d61aee4b6d56977, 2022-04-11T07:46:01.075Z)
O

[2022-05-01 22:57] derek-rlb commented on #386
Having the same issue.  Tried Google, Edge, incognito window, from home etc.  Looks to be server-side.  I am trying to add a Visual Studio Professional - monthly subscription to an Azure PAYG subscription.

The following stack trace is shown:

`Sorry, we are unable to load the change quantity experience. Give it few mins and then try again. Error: [{"errorMessage":"An undefined error occurred whil

[2022-05-02 04:22] SufyanDahalan opened #390 "Cant seem to authenticate/login with PAT"
Intended to auto publish via github actions and followed the instructions [here](https://code.visualstudio.com/api/working-with-extensions/continuous-integration#github-actions). Created PAT, organization and publisher. I cant seem to be able to login with publisher

[code]

[2022-05-02 07:25] prashantvc commented on #390
Could you share steps to reproduce?
Do you have right access to publish? Please check https://developercommunity.visualstudio.com/t/Publishing-a-Visual-Studio-Extension-usi/1698068#T-N10020939

[2022-05-02 09:08] madhurivadaligithub commented on #374
Hi @InTheCloudDan
We are not able to repro this issue on our local setup, successfully updated with new logo, can you please share more details (like error details, active logs)
<img width="919" alt="image" src="https://user-images.githubusercontent.com/81361084/166211189-4ea1576c-113d-489a-81e9-fd83a33ea25a.png">

[2022-05-02 11:03] InTheCloudDan commented on #374
@madhurivadaligithub is there an email we can send the updated extension vsix or do you want it uploaded directly here?

[2022-05-02 11:30] madhurivadaligithub commented on #374
Yes, please share your vsix to vsmarketplace@microsoft.com

[2022-05-02 19:27] cgremmel commented on #386
Hi. Same here!

Reference #230 .

[2022-05-03 18:14] nmgsa commented on #386
Any update on this? I need to purchase a new license by next week and I don't want to go through a reseller. Apparently this has happened before?

[2022-05-05 02:52] lulalila opened #391 "Most bizarre: I have my axios calls data printed in the terminal of vsc"
Issue Type: <b>Performance Issue</b>

I don't know how to explain it better: I'm using Visual Studio Code, Nuxt and Axios, and whenever I refresh my web page I get all the content of my axios call printed in the vsc terminal.

I think I may have made some changes in the google inspector  with vue devtools but I'm not sure. Please help and forgive me for my broken english.

Thanks in advance.

VS C

[2022-05-05 22:50] aslakhellesoy commented on #291
Hi - I have just tried again and it's still not working. Nothing goes through on https://marketplace.visualstudio.com/manage/createpublisher

[2022-05-06 00:22] derek-rlb commented on #386
This has worked for me today.

[2022-05-06 19:06] cgremmel commented on #386
Finally I had success using Firefox. Chrome doesn't work.

[2022-05-06 19:51] InTheCloudDan commented on #374
@madhurivadaligithub this was sent 3 days ago. Can you confirm receipt from a `launchdarkly.com` account?

[2022-05-08 03:29] SufyanDahalan commented on #390
The link you provided pointed me in the right direction to solve the issue.
 The chosen rights for the PAT were lacking, i had not chosen a `Member Entitlement Management` when i had the problem

[2022-05-08 03:29] #390 closed

[2022-05-09 12:35] madhurivadaligithub commented on #374
Hi @InTheCloudDan we have received updated VSIX file and observed no changes other than logo, but usually we will receive reported error when we do changes at service end points categories or if extension already present and trying to upload from another publisher again.
Your scenario is new to us, we are working on it and keep you updated

[2022-05-09 15:53] nmgsa commented on #386
Still very much an issue for me. Failed in Chrome, Edge, and a newly installed Firefox.

`Sorry, we are unable to load the change quantity experience. Give it few mins and then try again. Error: [{"errorMessage":"An undefined error occurred while attempting to connect to the server. Status code 0: error.","errorMethod":"BuyCustomizationSource.VSSCommerce.getItemPrice","errorType":"SystemError","er

[2022-05-09 16:56] prashantvc commented on #389
Does it happen with all the extensions? Could you provide steps to reproduce please

[2022-05-10 03:05] billhuang6277 opened #392 "异常退出"
Issue Type: <b>Bug</b>

图形界面无法启动。

VS Code version: Code 1.67.0 (57fd6d0195bb9b9d1b49f6da5db789060795de47, 2022-05-04T12:06:02.889Z)
OS version: Windows_NT x64 10.0.22000
Restricted Mode: No

[2022-05-10 13:49] jruiz601 opened #393 "TABNINE"
Issue Type: <b>Bug</b>

TABNINE KEEPS STARTING AND ITS NOT AVAIBLE TO USE IT

VS Code version: Code 1.67.0 (57fd6d0195bb9b9d1b49f6da5db789060795de47, 2022-05-04T12:06:02.889Z)
OS version: Windows_NT x64 10.0.19044
Restricted Mode: No

[2022-05-10 14:44] aslakhellesoy opened #394 "Cannot verify publisher"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://marketplace.visualstudio.com/manage/createpublisher
2. Fill in a valid URL in `Domain name` (e.g. `https://microsoft.com`)

**Expected behavior**

The `Verify` button is enabled

**Screenshots**

But it's not:

<img width="1196" alt="Screenshot 2022-05-10 at

[2022-05-11 08:20] BernieWhite opened #402 "Publish to vscode extension with org scoped token"
During a recent push internally we have been removing the ability to deploy using a PAT token scoped to all org.

Currently `vsce` which is the tool to publish vscode extensions doesn't support a org scoped PAT token.

Is this support available or on it's way soon, as currently I'm blocked to deploy any updates to my vscode extensions?

[2022-05-11 12:40] nmgsa commented on #386
Looks like it's been fixed.

[2022-05-11 12:40] #386 closed

[2022-05-13 21:58] nickscamara commented on #235
Hey, this can open up security issues if secrets are left in previous versions. This sounds super crucial.

[2022-05-14 10:13] HiBEAU opened #395 "coderunner"
Issue Type: <b>Bug</b>

设置使用内置终端，但还运行时使用了内置和外连终端

VS Code version: Code 1.67.1 (da15b6fd3ef856477bf6f4fb29ba1b7af717770d, 2022-05-06T12:37:14.619Z)
OS version: Darwin arm64 21.4.0
Restricted Mode: No

[2022-05-14 20:10] Almenon opened #396 "feature request: Longer historical view for acquisition trend graph"
I'd like a longer historical view as the options only let me select the past 90 days. I know that a year ago I had less daily activations of my extension, so I'd love to compare this with my acquisition trend to see what my acquisitions looked like at the time.

[2022-05-14 20:11] Almenon commented on #396
Relevant: https://github.com/microsoft/vsmarketplace/issues/353

[2022-05-16 13:11] prashantvc commented on #154
We at VS Marketplace started the work to improve the search relevancy.
As part of this effort, we need your help to curate the search results to define baseline KPI

## How can you help?

1. Open VS Code or visit <https://marketplace.visualstudio.com/search?target=VSCode>
2. Search for your favourite extension
3. Share the search term and results you want to see.
   The Order of search results, mi

[2022-05-16 21:39] jeff-hykin commented on #154
There's lots of examples from [previous posts](https://github.com/microsoft/vscode/issues/42890) that are still unfixed but sure I'll oblige and redo the search/screenshots

## Example 1
`Prolog Syntax`
<img width="439" alt="Screen Shot 2022-05-16 at 3 29 28 PM" src="https://user-images.githubusercontent.com/17692058/168679833-4b494db0-b4ef-4ffd-b140-c2ba8d485e81.png">

### Want to see & Justifica

[2022-05-17 00:49] ebmarquez opened #397 "powershell format no longer works"
Issue Type: <b>Bug</b>

format no longer works when called.

While editing a PSM1 file.  VSCode no longer will provide any kinds of formatting of the document.

[code]

VS Code version: Code 1.67.1 (da15b6fd3ef856477bf6f4fb29ba1b7af717770d, 2022-05-06T12:37:03.389Z)
OS version: Windows_NT x64 10.0.22621
Restricted Mode: No

<!-- generated by issue reporter --
[1652748482-6f8b89da-20d3-431c-b6ac-48

[2022-05-17 00:54] ebmarquez commented on #397
wrong location

[2022-05-17 00:54] #397 closed

[2022-05-17 06:39] prashantvc commented on #154
@jeff-hykin Thanks a lot for taking time to write up a detailed answer. We are doing data driven, and iterative process to improve the search relevancy. Yes, we are starting with basics; you can expect better tokanisation and word2vec will eventually make into the marketpalce

[2022-05-17 09:37] isidorn opened #398 "Render sponsor button in extension header"
VS Code is adding sponsor support in the May milestone. More details here https://github.com/microsoft/vscode/issues/107482

For this we will add a new `sponsor` field in the package.json of an extension.
It would be great if the marketplace could render a sponsor button in the marketplace header when the sponsor field is present in the package.json

For example it could look like this. But it sho

[2022-05-18 09:14] #384 closed

[2022-05-18 11:23] InTheCloudDan commented on #374
@madhurivadaligithub Just checking in to see if there's been any update?

[2022-05-18 12:41] madhurivadaligithub commented on #374
Hi @InTheCloudDan to understand more, do you have 2 extensions with same name on the Marketplace
We observed this in your shared screenshot, can you please share full screen shot of your publisher manage page and extension urls for further investigation.
<img width="910" alt="image" src="https://user-images.githubusercontent.com/81361084/169040906-a4523f28-cf80-49c3-a052-c8084855e8a5.png">

[2022-05-19 11:06] joinAnd opened #400 "copy is invalid"
Issue Type: <b>Bug</b>

In the information page of the extension,If the text is selected, the copy in the right mouse button menu is invalid

VS Code version: Code 1.67.2 (c3511e6c69bb39013c4a4b7b9566ec1ca73fc4d5, 2022-05-17T18:15:52.058Z)
OS version: Windows_NT x64 10.0.19044
Restricted Mode: No

[2022-05-19 13:21] radeksimko opened #401 "Support theme-conditioned extension icons"
While extension can use `galleryBanner` to adjust the font and background colours, there's currently no way of serving different image depending for dark or light theme.

As a result, most icons have to have a solid light or dark background to provide the contrast for a light or dark icon.

Example:
[code]

results in the icon being practically invisible

<img width="458" alt="Screenshot 2022-05-1

[2022-05-20 10:49] SaiKanth007 commented on #402
You can also try this programmatic way of creating a personal access token mentioned at [https://www.1eswiki.com/wiki/Automated_re-scoping_of_Personal_Access_Tokens#What_the_heck_is_.222663b13f-50e3-a655-a159-22f6f4725fab.22.3F.21](https://nam06.safelinks.protection.outlook.com/?url=https%3A%2F%2Fwww.1eswiki.com%2Fwiki%2FAutomated_re-scoping_of_Personal_Access_Tokens%23What_the_heck_is_.222663b13f

[2022-05-20 13:33] ssbarnea commented on #402
@SaiKanth007 That url is not public, requires login with microsoft account but fails due to permissions after. Cand you make it really public?

[2022-05-22 11:41] rmzetti commented on #352
Hi
In April I published ver 0.7.1 of my extension, `rmzetti.hover-exec` - was successful. I withdrew it shortly after publishing because I needed to fix an immediate error, and inevitably made some relatively minor changes/enhancements to the extension.

I have just tried to update to 0.7.2. However I get _'Extension validation error - Your extension has suspicious content. Please fix your extensi

[2022-05-23 06:02] MahalingamVR commented on #352
Sorry about the inconvenience here.
It looks like you have shortened URL (https://bit.ly) in the extension overview content and so the extension got blocked. We have a restriction to block the shortened URLs to control the spam extensions. Can you please provide the direct URL and try again?
Cc: @prashantvc We might need to update the documentation accordingly.

You could also reach to "vsmarketpl

[2022-05-23 08:13] rmzetti commented on #352
Many thanks - that was indeed the problem.. and I think I knew this was an issue but didn't notice when I was putting the reference in the README.
So my fault - I apologise.
Thanks again...

[2022-05-24 00:12] mohitsinghs opened #403 "Publisher verification docs are misleading or incomplete"
**Describe the bug**

Publisher verification docs are misleading or incomplete in their current state.

**To Reproduce**

Ensure that you are new to marketplace.

Steps to reproduce the behavior:
1. Go to `https://marketplace.visualstudio.com/manage/publishers/<your-publisher>`
2. Enter domain name in Verified domain and click save
3. Update DNS records and click on verify.
4. See your verificatio

[2022-05-24 23:51] tyeth commented on #388
Getting this. My only noticible contribution is I had the normal version of microsoft python extension and pylance. I went to install Circuitpython extension and it had an issue (pylance crashed and couldn't be restarted reliably after 5 attempts). I then had a broken install of the circuitpython extensions (it had registered commands in the command palette but they said command not found when exe

[2022-05-25 07:23] ssbarnea opened #404 "security: unable to generate Personal Access Token (PAT) with limited scope (single extension)"
Some publishers have lots of extensions, for example Redhat has 34 ones and the current security model does not allow to generate PATs that allow publishing for a single extension, as they would give control for the entire **publisher**.

That means that if the PAT is leaked, it affects all the extensions published by the same publisher, creating a huge attack surface in some cases.

Some bigger p

[2022-05-25 11:17] SaiKanth007 commented on #402
You can refer to this public blog post https://devblogs.microsoft.com/devops/issue-with-extension-publishing/

[2022-05-25 11:23] #219 closed

[2022-05-25 11:34] ssbarnea commented on #402
That is also related to https://github.com/microsoft/vscode-vsce/issues/729 -- which is more about inability to reate a PAT specific to a single extension. If we generated PATs with access to entire publisher, we risk a lot, the more extensions a publisher publishes the bigger the risk.

Microsoft likes has hundreads of extensions at https://marketplace.visualstudio.com/publishers/Microsoft and th

[2022-05-25 13:08] SaiKanth007 commented on #219
@felipecrs Yes and I think VSCode Client is already doing it. @sandy081 correct me if my understanding is wrong.

[2022-05-27 09:33] nikhgup commented on #403
@mohitsinghs We will verify your domain. Apologies for the issue, it got rejected because of human error.

[2022-05-27 10:25] #403 closed

[2022-05-29 00:09] Wasco123 opened #405 "omnisharp server"
Issue Type: <b>Bug</b>

whenever i type p on vscode is showing omnisharp server is not running

VS Code version: Code 1.67.2 (c3511e6c69bb39013c4a4b7b9566ec1ca73fc4d5, 2022-05-17T18:15:52.058Z)
OS version: Windows_NT x64 10.0.22000
Restricted Mode: No

[2022-05-29 00:53] iPlanC commented on #352
@roytaishi
![截图](https://user-images.githubusercontent.com/32409143/170847509-3bf95ea6-c176-4648-966d-18dd002a3937.png)
i got same problem in `PlanC.pzmod-extention-next v1.0.0` and `PlanC.pzmod-extention v2.0.0`,
i barely changed nothing, but still get `suspicious content` ERROR

[2022-05-29 04:55] kristof-mattei commented on #235
When secrets get committed one should consider it no longer secret and thus rotate it.

Removing packages is not fail safe here due to people having pulled in the packages or systems having cached it.

It thus provides a false sense of security.

[2022-05-29 08:13] iPlanC commented on #352
never mind, i found is the picture url in my readme.md caused sus-content
now i'm wonder how ti insert a png and gif in VSmarketplace overview

[2022-05-30 07:53] nikhgup commented on #394
@aslakhellesoy Verify button will be enabled once you save button is clicked. Please refer https://code.visualstudio.com/api/working-with-extensions/publishing-extension#verify-a-publisher

[2022-05-30 07:53] #394 closed

[2022-05-30 08:13] nikhgup commented on #387
@RoryBecker Can you please contact us at our support mail VSMarketplace@microsoft.com.

[2022-05-30 08:13] #387 closed

[2022-05-30 14:09] zohnannor opened #406 "Cannot change enablement of <...> extension because of its extension kind"
Issue Type: <b>Bug</b>

Platform: Windows 10 build 19041; WSL2 Ubuntu20.04

This particular extension: [Haskell](https://marketplace.visualstudio.com/items?itemName=haskell.haskell)
I have installed it, it installed it's only dependency, [Haskell Syntax Highlighting](https://marketplace.visualstudio.com/items?itemName=justusadam.language-haskell). Then, Haskell Syntax Highlighting was enabled auto

[2022-05-30 14:21] zohnannor commented on #406
Well... I reinstalled it and the issue disappeared. That's odd.

[2022-05-30 14:21] #406 closed, assigned to nobody

[2022-05-30 15:10] isidorn commented on #391
Please file this question on StackOverflow. This is not an actual reproducible issue, so I will have to go ahead and close it. Thank you

[2022-05-30 15:10] #391 closed

[2022-05-30 15:15] isidorn commented on #405
Please file a proper issue with reproducible steps. Thank you

[2022-05-30 15:15] #405 closed

[2022-05-30 15:16] isidorn commented on #392
Please file a proper issue with reproducible steps in English.
Once more data is provided we can look into reopening this issue.
Thank you

[2022-05-30 15:16] #392 closed

[2022-05-30 15:17] #388 closed

[2022-05-30 15:36] isidorn commented on #395
Please file an issue with reproducible steps in English and then we can consider to reopen this. Thanks

[2022-05-30 15:36] #395 closed

[2022-05-30 15:39] isidorn commented on #400
I can not reproduce this. Can you provide a bit more details?
For example information page in the browser on the Marketplace website, or in VS Code itselft?
Could you provide a short gif demonstrating this? Thanks

[2022-05-30 16:00] rioj7 commented on #30
Markdown files allow the use of [HTML Entities](https://html.spec.whatwg.org/multipage/named-characters.html)

By replacing `[abcd]` with `&lsqb;abcd&rsqb;` the link is no longer detected. for this to work you have to place the content of the single and triple back tick between HTML tags `<code></code>` and `<pre><code></code></pre>` and you need to translate `&`, `<` and `>` to the HTML Entities

[2022-05-30 16:09] MahalingamVR commented on #352
You should be able to upload your extensions now with no changes required to your image URLs. Please try again and reach out to "vsmarketplace@microsoft.com" support mail directly for any issues.

[2022-06-01 09:02] nikhgup commented on #393
Can you please share more details with screenshots?

[2022-06-01 09:05] nikhgup commented on #381
Can you please share more details with screenshots.

[2022-06-01 16:32] kettanaito commented on #378
Thanks for the detailed response, @nikhgup. It'd be worth updating the docs, given this is the current behavior right now.

[2022-06-01 17:54] kimadeline opened #408 "Marketplace doesn't reflect the deprecated status"
Testing microsoft/vscode#150746

1. Find a deprecated extension that is in the list of deprecated extensions and supports the new deprecated UI (redhat.vscode-wsdl2rest, auchenberg.vscode-browser-preview, ms-vscode.vscode-typescript-tslint-plugin)
2. Click on the extension to open the extension editor, click on the extension name to open the extension page in the browser
3. Note that there is no s

[2022-06-01 19:36] DanTup opened #407 "Extension update doesn't show up in VS Code if a dependent extension is installed"
Edit: See second comment - this seems to be related to the dependent extension.

I published v3.42.1 of the Dart extension just over 1hr 30min ago. I got the email saying it had passed the automated checks and the version number on the marketplace page updated almost immediately. Over an hour later, the extension still doesn't show up in VS Code (I've tried running **Check for Extension Updates**

[2022-06-02 07:51] DanTup commented on #407
This morning the issues seems to be resolved for me, so wherever the old version was cached may have expired. It definitely feels like there's still a bug here though, a dependent extension shouldn't result in different results (nor should the cache last so long).

[2022-06-02 09:16] nikhgup commented on #407
@DanTup There was some intermittent cache issue from our side and because of that latest version was not appearing for some users.

[2022-06-02 09:34] isidorn commented on #407
Let me assign to @SaiKanth007 for caching issue so he or his team mates can investigate on the Marketplace side when time allows. Thanks

[2022-06-02 09:41] isidorn commented on #408
@kimadeline thanks for opening this issue. We designed the issue with this in mind, because Marketplace unfortunetly does not yet support the concept of deprecated extensions. We believe this will come in the future, so I will close this as a duplicate of https://github.com/microsoft/vsmarketplace/issues/23

[2022-06-02 09:41] #408 closed

[2022-06-02 11:08] fabianvillera opened #409 "host de extenciones"
Issue Type: <b>Performance Issue</b>

despues de una actualizacion
cuando se realiza una serie de pasos en el programa se para el host de extenciones

VS Code version: Code 1.67.2 (c3511e6c69bb39013c4a4b7b9566ec1ca73fc4d5, 2022-05-17T18:15:52.058Z)
OS version: Windows_NT x64 10.0.19043
Restricted Mode: No
![image](https://user-images.githubusercontent.com/85636327/171616623-2fe0640e-4ebb-4f34-9792

[2022-06-03 05:30] SaiKanth007 commented on #328
Similar to categories filter, marketplace also provides support for publisherName filter, which can be leveraged to search for extensions belonging to a specific publisher.

@sandy081  VSCode can map to this filter for filtering on publisherName (filterType=18)

[2022-06-03 07:56] nikhgup commented on #367
@pansito Are you still facing the issue. please feel free to reopen the issue and share more details.

[2022-06-03 07:56] #367 closed

[2022-06-03 08:01] nikhgup commented on #370
@jedidrew50 Please feel free to open it again if you are still facing the issue.

[2022-06-03 08:01] #370 closed

[2022-06-03 08:01] nikhgup commented on #369
@shrey0258 Please feel free to reopen if you are still facing the issue.

[2022-06-03 08:01] #369 closed

[2022-06-03 10:30] #393 closed

[2022-06-03 10:32] nikhgup commented on #389
@samuelriboulet Are you still facing the issue.? Please reopen f issue is still present.

[2022-06-03 10:32] #389 closed

[2022-06-03 10:32] #381 closed

[2022-06-03 10:34] nikhgup commented on #376
@RIyu200272 Please reopen issue if you are still facing it.

[2022-06-03 10:34] #376 closed

[2022-06-03 10:42] nikhgup commented on #358
@pgrivachev There might be some delay due to cache refresh. Please reopen if issue is constantly reproducible.

[2022-06-03 10:42] #358 closed

[2022-06-03 10:45] #338 closed

[2022-06-03 11:15] isidorn commented on #360
Can you please open this issue against https://github.com/microsoft/vscode-python
They are providing the gif, and the gif seems to be weirdly scaled. Thank you

[2022-06-03 11:16] isidorn commented on #409
Please open an issue against VS Code in English. Thanks!

[2022-06-03 11:16] #409 closed

[2022-06-03 17:43] lramos15 commented on #154
Here's a gif of searching for `Azure Repos`. I need to type the full name before it is even in view.
![Recording 2022-06-03 at 12 09 58](https://user-images.githubusercontent.com/4544166/171918024-9f0a7fd8-b559-4d90-8ffb-b875a72e4a28.gif)

[2022-06-04 20:34] willster277 opened #410 "Fix the copy button on vscode marketplace website"
**Not the VSCode app itself; issue occurs on marketplace.visualstudio.com**

---

Every single time, without fail, that I have viewed an extension on this site, (assuming I want the extension) I have clicked the "copy" button and ended up pasting nonsense into my VSCode quick open.

![Screenshot from 2022-06-04 21-18-24](https://user-images.githubusercontent.com/85991558/172024346-58fd7eef-87fc-40

[2022-06-05 08:39] ccalfje commented on #379
![image](https://user-images.githubusercontent.com/28975297/172042528-3a58e681-b406-4ff4-a943-3752ad46839d.png)
I encountered the same problem

[2022-06-06 10:37] isidorn commented on #410
@willster277 thanks for opening this issue, moving it to the VS Marketplace repo.

@prashantvc can you please help here

[2022-06-06 10:38] isidorn commented on #154
@lramos15 thanks for sharing this.
@SaiKanth007 another great example of how scoring for multiple words is not good now.

[2022-06-07 03:13] hemiaoio opened #412 "Did you have plan with Azure devops work items relation or export to Microsoft ToDo?"
Like titile ,then we can view the work items in "Outlook" or "Microsoft ToDo", It is better to click finish directly in outlook and synchronize to azure Devops。

[2022-06-07 07:14] prashantvc commented on #410
@willster277 Thanks a a lot for the bug report! Unfortunately we do not support `copy` in the VS Marketplace.
Could you share what extension is this?

The installation instructions you see shouldn't exist.

[2022-06-07 07:14] #410 closed

[2022-06-07 07:40] #407 closed

[2022-06-07 07:47] MahalingamVR commented on #364
Please provide more details, with reproducible steps, in English for us to explore further. You could reopen the issue with the detailed steps.
Thank you.

[2022-06-07 07:47] #364 closed

[2022-06-07 08:14] #356 closed

[2022-06-07 10:57] willster277 commented on #410
@prashantvc the installation instructions in the image in the original post are there exactly as shown on ever VSCode extension, both for me and for all the footage I've seen of the site (on YouTube for example).

I'm not sure what you mean when you say it shouldn't be there/is not supported.

[2022-06-08 12:32] prashantvc opened #413 "Category in the search field is not reflected in the category filter in the results page"
Steps to reproduce:

- Search for `java @category:azure`

Actual result:
Notice that the Category filter is still showing `All categories`
![image](https://user-images.githubusercontent.com/328076/172616378-0e16d3cf-03a5-421b-a760-e51906060fb7.png)

Expected Result:
The category filter must show category entered in the search field

[2022-06-08 18:23] brettcannon opened #414 "List pre-releases and stable releases separately in the Version History tab"
If you look at https://marketplace.visualstudio.com/items?itemName=ms-python.python , you will see the last five releases which can be the last 5 pre-releases thanks to a daily pre-releases. This unfortunately makes it hard to download the latest stable release or older stable releases as they are drowned out within a week a of release.

Having at least the last stable release available to downloa

[2022-06-09 10:13] isidorn commented on #414
@brettcannon this makes sense. My feeling is that this will only be done as part of the Marketplace redesign which should hopefully come some time next year.
Assigning to @prashantvc since he has more details. Thanks

[2022-06-10 14:36] anangaur commented on #154
IMO, this could be ab issue of treating multiple forms of a word as different keywords. May be using a [stemmer ](https://towardsdatascience.com/stemming-of-words-in-natural-language-processing-what-is-it-41a33e8996e2) would help here?
For example,
`send`, `sending`, `sent` should all be stemmed as a common keyword `send`. If we apply this during tokenization of extension keywords as search query

[2022-06-10 15:24] anangaur commented on #154
@isidorn , this is a great list. @prashantvc , can we categorize the list into categories?

| Category | Issue | Comments |
|:-- | :-- |:-- |
| Bug | Extensions filter for publisher should be exact [vscode#151192](https://github.com/microsoft/vscode/issues/151192) | |
| Bug | Default to AND rather than OR in marketplace search [vscode#51207](https://github.com/microsoft/vscode/issues/51207)||
| Fe

[2022-06-12 12:00] isidorn commented on #154
Another example: search for Latex. The 2nd result should be first (much better quality, rating, install count, freshness)
![Screenshot 2022-06-12 at 13 58 16](https://user-images.githubusercontent.com/1926584/173232104-2fbe5d4e-df22-494e-b182-e75ac775dafc.png)

[2022-06-13 07:57] prashantvc commented on #154
Shouldn't the exact match be on the top? 2nd result has better metrics, but it is not too far away.

[2022-06-13 08:36] isidorn commented on #154
@prashantvc by typing "latex" user wants to use latex, we should offer the best extension for this.
The same reason is when you type "vscode extension latex" in google you get the LaTeX Workshop, and not the other one.

Same example for "rust"

[2022-06-13 09:05] radeksimko opened #415 "Newly published version has outdated Readme on the gallery page"
**Describe the bug**

We have released a new extension version on 9th June and it seems that Marketplace still did not invalidate the cached Readme from previous version it displays [on the website](https://marketplace.visualstudio.com/items?itemName=HashiCorp.terraform), even after multiple days (today is 13th June), although at least it’s updated within VS Code.

https://github.com/hashicorp/vsc

[2022-06-13 09:22] prashantvc opened #416 "Help us improve search"
We at VS Marketplace started the work to improve the search relevancy.
As part of this effort, we need your help to curate the search results to define baseline KPI

## How can you help?

1. Visit https://extensions.ms/
2. Search for an extension (any of your favourite extensions)
3. Observe the search results, do they make sense?
4. Rearrange results, you can drag and drop, any item need to be on

[2022-06-13 10:59] jeff-hykin commented on #154
I would strongly disagree. I dont think anybody is having a hard time finding popular extensions like Latex workshop, rather the opposite; it's very hard to find the exact matches to excellent-but-unpopular extensions.

Both have 5 stars and decent quality, but the first is actually matches what the user searched for. I'd rather it return what I searched instead of what's popular and kinda related

[2022-06-13 23:51] ericdrobinson commented on #415
We believe that we recently ran afoul of this issue. Much of our experience is detailed in [this discussion](https://github.com/microsoft/vscode-discussions/discussions/32), but I will re-summarize here.

In our case, the extension in question is the [ExtendScript Debugger](https://marketplace.visualstudio.com/items?itemName=Adobe.extendscript-debug). Versions 1.y.z were all deemed "Universal" as

[2022-06-14 08:48] anupkmr03 commented on #366
@faelribeiro22 can you please help me to understand how to reproduce this scenario? As I can't see any copy button on the extension page.
SS for your reference:
![image](https://user-images.githubusercontent.com/16070906/173535477-e4452c4a-1a18-469a-91e5-3d728b8d13bb.png)

[2022-06-14 13:28] faelribeiro22 commented on #366
@anupkmr03 you can reproduce this scenario in linux os. I use Pop OS, and the page work that way:
![image](https://user-images.githubusercontent.com/10289821/173588505-ae9027a6-a798-40a3-8463-f79dbd3de3ca.png)

[2022-06-14 16:13] VisualMicro commented on #375
When users reach the gallery they do not see the page in your example.

This is the main gallery page. As you can see VS2022 is nowhere to be seen. + Although Microsoft are recommending VS2022 to users the gallery is showing VS2019 extensions. https://marketplace.visualstudio.com/vs

![image](https://user-images.githubusercontent.com/1071555/173625147-6ac14752-5498-4e61-8451-f94a0a62e3a8.png)

[2022-06-14 17:26] isidorn opened #417 ""Extensions for the Visual Studio family of products" banner text should be VS Code specific"
1. Go to https://marketplace.visualstudio.com/vscode
2. Notice banner

![Screenshot 2022-06-14 at 19 24 16](https://user-images.githubusercontent.com/1926584/173639141-baeea4e6-63e3-4aa8-89c1-2ac1de9cc30c.png)

This banner should say something like "Extensions for Visual Studio Code" instead.

fyi @anupkmr03

[2022-06-15 08:14] isidorn commented on #154
Here’s an example that a vscode team member ran into. Search for "vscode selfhost test". The extension [“VS Code Selfhost Test Provider”](https://marketplace.visualstudio.com/items?itemName=ms-vscode.vscode-selfhost-test-provider) appears around position 50 I would guess (need to scroll down a bit), and before it there are 10 or more “test” extensions that I guess people used to test that they can

[2022-06-15 11:45] Tyriar commented on #154
I adding "Image Editor" despite really not wanted to because search wasn't smart enough to figure out Luna Paint is the only full blown image editor (see https://github.com/microsoft/vsmarketplace/issues/71), it contains from "edit images" in the package.json description and more keywords in the readme content.

![image](https://user-images.githubusercontent.com/2193314/173818836-4dfbc846-4641-48a

[2022-06-15 17:40] jeff-hykin commented on #154
I think changing the weight makes sense, but I think using number of characters would be problematic and easy to fix. Going back to Bayes, the word "Latex" would be super common, so I would agree exact match should be deprioritized with that in mind. But on the opposite side, if I search for "Mario" (very rare) and "visual studio code" (very common) I would expect Mario to prioritize an exact matc

[2022-06-15 19:38] vadimcn commented on #154
This whole thing looks like a classical document retrieval problem, for which [TF-IDF](https://en.wikipedia.org/wiki/Tf%E2%80%93idf) (basically what @jeff-hykin had described above) is the go-to approach.   This should cover all basics, and you can add rank boosting based on popularity on top of that.

I would also recommend talking to someone in Bing, they've been solving similar problems for a c

[2022-06-16 09:57] SaiKanth007 commented on #224
@felipenmoura Please reopen issue if you are still facing it.

[2022-06-16 09:57] #224 closed

[2022-06-16 10:21] SaiKanth007 commented on #221
@ph777 If you are still facing the issue, can you reach out to vsmarketplace@microsoft.com with the details about your publisherName, extensionName.

Also, VSCode extensions are not associated to any organization, and you can create any organization to generate a PAT token

[2022-06-16 10:21] #221 closed

[2022-06-16 10:25] SaiKanth007 commented on #95
@sandy081 I guess this is resolved now, hence closing this. Feel free to create a new ticket if you are seeing any other issues.

[2022-06-16 10:25] #95 closed

[2022-06-16 13:34] isidorn commented on #154
Good points. Thanks to both!

[2022-06-16 14:33] SaiKanth007 commented on #375
@prashantvc I guess @VisualMicro is basically asking for a carousel on the home page to list the VS2022 extensions. Do we have any plan to have this ?

[2022-06-16 15:06] SaiKanth007 commented on #365
@azaslavsky closing this issue since you are able to upload the package. Feel free to create a new ticket if you are facing any other issue.

[2022-06-16 15:06] #365 closed

[2022-06-16 15:21] SaiKanth007 commented on #329
@Gramatik92 Since we haven't heard anything from you, we assume this is fixed. We are closing this ticket for now, feel free to open a new ticket if you are facing any other issue.

[2022-06-16 15:21] #329 closed

[2022-06-16 15:24] SaiKanth007 commented on #302
Closing this ticket since the issue is resolved.

[2022-06-16 15:27] SaiKanth007 commented on #312
@chayan0619 This issue seems to be related to the VSCode editor. Can you please create a ticket with the VSCode repo.

[2022-06-16 15:27] #312 closed

[2022-06-16 15:37] SaiKanth007 commented on #318
@Jeskalana Since we haven't heard back from you in a while, we assume the issue is resolved. Feel free to create a new ticket if you have any other issues.

[2022-06-16 15:37] #318 closed

[2022-06-16 15:38] #319 closed

[2022-06-16 15:40] SaiKanth007 commented on #324
@rajbhagwat Since we haven't heard back from you in a while, we assume the issue is resolved. Feel free to create a new ticket if you are facing any other issues.

[2022-06-16 15:40] #324 closed

[2022-06-16 17:57] m-aziz-kurt opened #418 "asdasd"
Issue Type: <b>Bug</b>

adsasdasd

VS Code version: Code 1.68.1 (30d9c6cd9483b2cc586687151bcbcd635f373630, 2022-06-14T12:48:37.209Z)
OS version: Darwin arm64 21.4.0
Restricted Mode: No

[2022-06-16 18:37] VisualMicro commented on #375
@SaiKanth007 Thank you for the reponse. A carousel might be the best solution. When Vs2022 was in preview there was a 1cm high horizontal yellow strip below the header that strecthed the entire width of the page. The message and link in the script said "Click here to view extensions for Visual Studio 2022". When VS2022 was releases the yellow strip changed to say something like "Click here to comp

[2022-06-17 06:30] sandy081 commented on #11
Yes, VS Code excludes invalid versions

[2022-06-17 06:42] SaiKanth007 commented on #11
@sandy081 Thanks for the confirmation
@Tyriar This issue should have been resolved. Feel free to create a new ticket if you are seeing any other issues.

[2022-06-17 06:42] #11 closed

[2022-06-17 11:41] github0null opened #419 "Domain verification request was not approved"
**Describe the bug**

My domain name verification request was not approved.

My domain is `https://github0null.io`

![image](https://user-images.githubusercontent.com/43022536/174290710-27f3e0ed-baf5-4b8b-8438-70d4303b5eaf.png)

I have checked my domain name as required below:

![image](https://user-images.githubusercontent.com/43022536/174291008-9a792cf6-e08a-47ab-b7c2-dc2a61d49987.png)

https `H

[2022-06-18 08:48] ssbarnea commented on #419
To be honest I am not surprised. Picking usernames and trademarks for usernames and domains is never a good idea. If I would see that domain, I would likely assume a scammer.

[2022-06-18 09:43] github0null commented on #419
@ssbarnea

I don't think so.

There are a lot of individual personal developers in the extension marketplace.

So I think it's ok to use personal domain names, and I see a lot of validated domain names that are also personal domain names, and some of them have strange names, too.

***

According to the official instructions, this is used to verify the authenticity of the brand or developer, as buy

[2022-06-19 09:27] reduckted opened #420 "VsixPub0024 : The description for the extension must be set and it must be less than 280 characters in length."
**Describe the bug**

I'm trying to publish an extension using the `VsixPublisher.exe`. I've done this many times before and it has worked fine, but today I'm getting the error:

[code]

The `.vsixmanifest` file _does_ contain a description:

It's 58 characters in length. I can manually publish the extension through the marketplace website.

**To Reproduce**
I'm using this command to publish the e

[2022-06-20 01:34] 522247020 opened #421 "The installed extensions need to be grouped"
Issue Type: <b>Feature Request</b>

Source translation software:

Multiple voice plugins can cause conflicts, and I want to disable other extensions in a single voice development environment.At present, you can only click one by one. Can you add the grouping function and perform batch operation on the expansion of the grouping?

多个语音的插件可能会造成冲突，我想在单个语音的开发环境禁用其他的扩展。目前只能一个一个的点击，是否能添加分组功能，对分组的扩展进行批量操作

[2022-06-21 08:42] anupkmr03 commented on #417
adding @prashantvc to take decision on it. As we are using same banner for Vs Code and VS IDE, If we are changing it for VS code then we should change it for VSIDE as well.

[2022-06-21 08:47] anupkmr03 commented on #366
Thanks @faelribeiro22 for sharing the details. @prashantvc can we take this as improvement?

[2022-06-22 12:44] anupkmr03 commented on #418
@m-aziz-kurt  Can you please explain what issue you are facing?

[2022-06-27 14:57] isidorn commented on #417
I suggest it says "Extensions for Visual Studio".
Plain and simple. Aligns with https://marketplace.visualstudio.com/azuredevops

[2022-06-27 15:45] isidorn commented on #421
Hmm the translation is not really correct. Can you please file a new issue in VS Code and try to provide reproducable steps. Thank you!

[2022-06-27 15:45] #421 closed

[2022-06-27 17:20] k8rina commented on #208
+1 I am attempting to downlaod some externsion and I keep getting the error log

{"$id":"1","innerException":null,"message":"Request was blocked due to exceeding usage of resource 'Count' in namespace 'AnonymousId'. For more information on why your request was blocked, see the topic \"Rate limits\" on the Microsoft Web site (https://go.microsoft.com/fwlink/?LinkId=823950).","typeName":"Microsoft.T

[2022-06-28 09:11] kirushyk opened #422 "Wrong "Set Theme" button toggling"
Issue Type: <b>Bug</b>

I opened theme extension and click enable / disable fast.
I see "Set Theme" button when extension is disabled and no "Set Theme" when it is enabled.

VS Code version: Code 1.68.1 (30d9c6cd9483b2cc586687151bcbcd635f373630, 2022-06-14T12:48:37.209Z)
OS version: Darwin arm64 21.5.0
Restricted Mode: No
Remote OS version: Linux arm64 4.9.253-tegra

[2022-06-28 09:12] kirushyk commented on #422
<img width="582" alt="Screenshot 2022-06-28 at 11 08 49" src="https://user-images.githubusercontent.com/3447431/176141329-5404cb21-c180-4c45-89c6-1274d0eccde2.png">
<img width="660" alt="Screenshot 2022-06-28 at 11 08 53" src="https://user-images.githubusercontent.com/3447431/176141346-92e6a657-c052-43da-a343-3e0705ef3e50.png">

[2022-06-28 12:25] isidorn commented on #400
Since no more details have been provided I will go ahead and close this issue. Once you provide more details we can reopen.

[2022-06-28 12:25] #400 closed

[2022-06-30 22:34] HarielAlmeida opened #423 "problema no caractere &nbsp;"
Issue Type: <b>Bug</b>

ao colocar o caracter &nbsp; pra obter a função espaço, ele não cumpre a função.
VS Code version: Code 1.68.1 (30d9c6cd9483b2cc586687151bcbcd635f373630, 2022-06-14T12:48:58.283Z)
OS version: Windows_NT x64 10.0.22000
Restricted Mode: No

[2022-07-01 20:53] gkepeden opened #424 "Cannot download SQL Server Integration Services Projects"
Trying to download SQL Server Integration Services Projects from this location https://marketplace.visualstudio.com/items?itemName=SSIS.SqlServerIntegrationServicesProjects, I have tried several times for all the versions on the page, I always get an executable file called Microsoft.DataTools.IntegrationServices.exe but is 0KB. If I try to run it, I get the error "This app can't run on your PC. To

[2022-07-01 21:07] #424 closed

[2022-07-04 04:22] pratikgawali-msft commented on #423
Could you share more information along with screenshots?

[2022-07-04 12:28] thegecko commented on #354
I am seeing this error when publishing a new version of an existing extension. The publisher and ID haven't changed AFAICT and there is only one extension with this ID in the marketplace.

<img width="537" alt="Screenshot 2022-07-04 at 13 27 51" src="https://user-images.githubusercontent.com/61341/177154866-5b10b340-64ac-4c6d-83dc-6d3fb1de119b.png">

[2022-07-04 12:43] thegecko opened #425 "Unable to update extension with new version"
**Describe the bug**

It's no longer possible to upload a new version of a VS Code extension via the Web UI

**To Reproduce**

1. Upload a new extension
2. Update the version of the extension and rebuild
3. Upload new version of extension
4. This error is shown:

<img width="537" alt="Screenshot 2022-07-04 at 13 27 51" src="https://user-images.githubusercontent.com/61341/177156972-43253f29-e8c9-45

[2022-07-04 16:14] amit-kulkarni-in commented on #417
I agree with @isidorn , this would avoid confusion when user clicks and enters the Visual Studio Code or Visual Studio search page . This also provides consistency with Azure devops page.

[2022-07-05 04:56] pratikgawali-msft commented on #425
Hi @thegecko, usually this extension id check is during the creation of new VS Code extension to ensure the extension id used is unique. We could not reproduce this issue. Could you please confirm that you are using `update` option and not the `New extension`?
![image](https://user-images.githubusercontent.com/79199166/177252284-fd21e728-0332-4e38-8755-321709f79cda.png)

[2022-07-05 04:59] amit-kulkarni-in commented on #418
Please provide more information on the issue with reproducible steps.
Once more data is provided we will reopen this issue.
Thank you

[2022-07-05 04:59] #418 closed

[2022-07-05 08:48] thegecko commented on #425
Well this is embarrassing, you are absolutely right.

I knew this ability was there, but just couldn't see the ellipses menu because the extension name also has ellipses and they blend together:

<img width="306" alt="Screenshot 2022-07-05 at 09 46 43" src="https://user-images.githubusercontent.com/61341/177288844-41c2c69c-9c48-4402-9d13-86cf2580ecbc.png">

I'll get my coat...

[2022-07-05 08:48] #425 closed

[2022-07-06 09:27] amitranjan15 opened #426 "All Extensions Disable showing and its not working"
Issue Type: <b>Bug</b>

All Extensions Disable showing in my VS Code and its not working

VS Code version: Code 1.68.1 (30d9c6cd9483b2cc586687151bcbcd635f373630, 2022-06-14T12:48:58.283Z)
OS version: Windows_NT x64 10.0.22000
Restricted Mode: No

<img width="728" alt="image" src="https://user-images.githubusercontent.com/25948301/177518508-6f3a9002-3f89-475f-9a8c-28e516a6e136.png">
<img width="709

[2022-07-06 09:43] #426 closed

[2022-07-07 09:24] aakarshitveersatech opened #427 "unable to search marketplace when offline"
Issue Type: <b>Bug</b>

type something in search box

VS Code version: Code 1.68.1 (30d9c6cd9483b2cc586687151bcbcd635f373630, 2022-06-14T12:48:58.283Z)
OS version: Windows_NT x64 10.0.22000
Restricted Mode: No

[2022-07-08 03:40] edith-ca commented on #427
no funciona css

[2022-07-08 16:06] TGiles opened #428 "Unable to view details of any extension in the Marketplace"
Issue Type: <b>Bug</b>

When trying to view the details/changelog of any extension in the marketplace, the following error appears in the notifications:

[code]

VS Code version: Code 1.69.0 (92d25e35d9bf1a6b16f7d0758f25d48ace11e5b9, 2022-07-07T05:28:36.503Z)
OS version: Windows_NT x64 10.0.19044
Restricted Mode: No

[2022-07-09 11:16] Deepak9633 opened #429 "emmet abbriviation"
Issue Type: <b>Feature Request</b>

I tried to setup my emmet abbriviation setting but it did'nt done.
Please help me to reset it

VS Code version: Code 1.69.0 (92d25e35d9bf1a6b16f7d0758f25d48ace11e5b9, 2022-07-07T05:28:36.503Z)
OS version: Windows_NT x64 10.0.19044
Restricted Mode: No

[2022-07-13 03:24] amit-kulkarni-in commented on #423
Please provide more information on the issue with screenshots.
Once more data is provided we will reopen this issue.
Thank you

[2022-07-13 03:24] #423 closed

[2022-07-13 11:10] segevfiner opened #431 "The README.md in the marketplace is not updating for Swimm.swimm"
Does this issue occur when all extensions are disabled?: Yes/No

- VS Code Version: 1.69.1
- OS Version: macOS 12.4

Our new `README.md` for our extension (Swimm.swimm) is not showing/updating in the marketplace. One suspect here is that the extension used to be universal and download binaries from the net and now it is platform specific. But there might be any other issue causing this. If I shoul

[2022-07-13 14:59] prashantvc commented on #431
@segevfiner aw no! We are looking into it on priority. I will keep you posted on the progress

[2022-07-13 15:11] SaiKanth007 commented on #431
@segevfiner We are aware of this issue, https://github.com/microsoft/vsmarketplace/issues/415 has more details.
We will soon be rolling out a fix for this.

Regarding the license & changelog.md, I am able to view the content and don't see 404 error.
<img width="960" alt="image" src="https://user-images.githubusercontent.com/17098988/178768308-adbd1d03-02e6-44b3-b4c5-cd00276d4b86.png">

<img width=

[2022-07-13 20:38] PhilippeFerreiraDeSousa commented on #109
Any update? We managed to use the userId method, but I would assume that this is a very trivial thing to fix?

[2022-07-14 12:33] julesML opened #432 "jules"
Issue Type: <b>Feature Request</b>

probleme d'extennsionss

VS Code version: Code 1.67.2 (c3511e6c69bb39013c4a4b7b9566ec1ca73fc4d5, 2022-05-17T18:15:52.058Z)
OS version: Windows_NT x64 10.0.19044
Restricted Mode: No

[2022-07-15 14:29] markoseekingalpha opened #433 "Themes displayed with some defects"
Issue Type: <b>Bug</b>

Steps to reproduce
1. Set any theme from  @id:Equinusocio.vsc-community-material-theme
2. Select any line of code in any file

**Actual result:**
Block for code include strange squares on the right side of the screen

**Expected result:**
Block for code should be one color without defects

VS Code version: Code 1.69.1 (Universal) (b06ae3b2d2dbfe28bca3134cc6be65935cdfea6a, 2

[2022-07-18 00:58] JakeMoe opened #446 "Unable to install / update extensions"
Does this issue occur when all extensions are disabled?: Yes

- VS Code Version: 1.69.1
- OS Version: Windows 11 Enterprise 21H2 build 22000.795

Steps to Reproduce:

1. Open Visual Studio Code
2. Try to install or update modules
3. Get error: "Error while installing '<name>' extension. Please check the log for more details.
4. Log shows:
[code]

More info and troubleshooting:

I'm guessing my iss

[2022-07-18 17:18] Celeness opened #434 "cmake"
Issue Type: <b>Bug</b>

doctor flutter says that i should install cmake altough it is already installed. What can i do?

VS Code version: Code 1.69.1 (b06ae3b2d2dbfe28bca3134cc6be65935cdfea6a, 2022-07-12T08:21:24.514Z)
OS version: Windows_NT x64 10.0.19044
Restricted Mode: No

[2022-07-18 17:18] Celeness opened #435 "cmake"
Issue Type: <b>Bug</b>

doctor flutter says that i should install cmake altough it is already installed. What can i do?

VS Code version: Code 1.69.1 (b06ae3b2d2dbfe28bca3134cc6be65935cdfea6a, 2022-07-12T08:21:24.514Z)
OS version: Windows_NT x64 10.0.19044
Restricted Mode: No

[2022-07-18 20:47] rchristman89 opened #436 "Downloading VSCode Extensions from API via BuildAgent"
**Describe the bug**
When using a build agent running Ubuntu and PowerShell I run the following command and receive an error:
PowerShell Command:
`$url = 'https://marketplace.visualstudio.com/_apis/public/gallery/publishers/{0}/vsextensions/{1}/{2}/vspackage' -f $publisher, $extensionName, $version
$request = Invoke-WebRequest $url -OutFile $outFile`

Error:
`Invoke-WebRequest : {"$id":"1","innerE

[2022-07-19 06:44] anangaur opened #437 "Some extensions pages have "noindex" metadata preventing them from listed on search engines"
Go to Google or Bing and search for "**Python vs code extension**"

Expected:
Top results should have a Python extension page (from VS Marketplace) listed

Actual:
No such result. It points to all other places like blog posts, github repo page etc.

Same with many other extensions like ".NET Interactive Notebooks"
---
Go to Google or Bing and search for "**Live Server vs code extension**"

Expecte

[2022-07-19 06:44] anangaur commented on #437
/cc: @prashantvc @munishgoyal1

[2022-07-19 12:31] rchristman89 commented on #436
I tested on a WSL2 Ubuntu instance on a system that has not signed into any Microsoft account and received the same error.
![image](https://user-images.githubusercontent.com/8922086/179750808-8e6629ec-8568-4d25-980e-d671d0c1c35f.png)

[2022-07-19 14:15] rchristman89 commented on #436
If I hit another page to get the cookies needed it works here is what I ended up doing:
[code]

[2022-07-19 14:15] #436 closed

[2022-07-19 18:12] devmaicon85 opened #438 "very slow remote wsl extension"
Issue Type: <b>Performance Issue</b>
sorry for the english. using google translator

I'm using WINDOWS 10 - with WSL 2 ubuntu - I have 16gb of ram. currently using NEXT project with TYPESCRIPT

using the REMOTE WSL extension works fine for a few minutes and is very slow when saving projects. It sometimes takes more than 1min to save or recognize intelisense. Without the remote wsl extension it wor

[2022-07-20 05:36] carterworkinc06 opened #439 "help"
Type: <b>Bug</b>

feedback

VS Code version: Code - Insiders 1.70.0-insider (9925e5d4d3d355758cd09d26868f0c12a0006828, 2022-07-11T12:20:21.684Z)
OS version: Windows_NT x64 10.0.22621
Modes:

[2022-07-20 12:56] JounQin opened #440 "Is that possible to transfer an extension to another publisher org?"
## How to make a good report

### Clear title

I have an extension https://marketplace.visualstudio.com/items?itemName=JounQin.vscode-mdx, and want to transfer it to `unifiedjs` scope, I tried to just publish a new extension but failed with

[code]

### Review existing feedback

N/A

### Separate Ideas

transfer `JounQin.vscode-mdx` to `unifiedjs.vscode-mdx`

[2022-07-20 18:38] JoseLuisUicab opened #441 "I can't install any extension"
Issue Type: <b>Bug</b>

when installing an extension I get the error
Error installing extension. See the [log] (command:workbench.action.showWindowLog) for more details.

VS Code version: Code 1.69.2 (3b889b090b5ad5793f524b5d1d39fda662b96a2a, 2022-07-18T16:12:52.460Z)
OS version: Windows_NT x64 10.0.19044
Restricted Mode: Yes

[2022-07-20 19:03] anangaur commented on #437
It seems odd to me to have this set for existing 'useful' extensions. Let's say a not-spam extension is updated every week (which is a great thing), would it mean the extension will never be listed in Google/Bing and other search engines' results?

[2022-07-20 23:02] ssbarnea commented on #440
no, tried that, the answer was not, and that was for major publisher!

[2022-07-20 23:17] JounQin commented on #440
That’s sad.

[2022-07-21 04:15] nitishdhiman706 opened #442 "i cant install live server"
Issue Type: <b>Feature Request</b>

cant install live server extension

VS Code version: Code 1.69.2 (3b889b090b5ad5793f524b5d1d39fda662b96a2a, 2022-07-18T16:12:52.460Z)
OS version: Windows_NT x64 10.0.19044
Restricted Mode: No

[2022-07-21 04:57] MahalingamVR commented on #437
Agree on the impact to other extensions.. This change was not meant to long-live and only to stem the impact during the time when spam extensions uploads were very high. This feature is turned off for now and the item details page will not have the noindex meta tag. We will have the implementation tuned further to not affect genuine extensions.

[2022-07-21 09:39] madhurivadaligithub commented on #442
Hi @nitishdhiman706 can you please share more details about this issue, if it is related to VS Code
Please create your issue here https://github.com/microsoft/vscode/issues

[2022-07-22 09:20] madhurivadaligithub commented on #441
Hi @JoseLuisUicab can you please share more details about this issue, if it is related to VS Code
Please create your issue here https://github.com/microsoft/vscode/issues

[2022-07-22 09:36] madhurivadaligithub commented on #438
Hi @devmaicon85  It seems you are facing issue with extension, can you please post under Q & A section of the respective extension for the required solution.

[2022-07-22 10:51] madhurivadaligithub commented on #435
@Celeness can you please share more details about this issue, if it is related to VS Code
Please create your issue here https://github.com/microsoft/vscode/issues

[2022-07-22 10:58] madhurivadaligithub commented on #434
can you please share more details about this issue, if it is related to VS Code
Please create your issue here https://github.com/microsoft/vscode/issues

[2022-07-25 05:43] webossdktest2022 opened #444 "test1"
Issue Type: <b>Bug</b>

test1

VS Code version: Code 1.69.2 (3b889b090b5ad5793f524b5d1d39fda662b96a2a, 2022-07-18T16:12:52.460Z)
OS version: Windows_NT x64 10.0.19044
Restricted Mode: No

[2022-07-25 05:48] #444 closed

[2022-07-25 11:51] mohitsuman opened #445 "VSCode Marketplace shows the latest version of pre-release instead of released version"
Does this issue occur when all extensions are disabled?: Yes/No

### **Steps to Reproduce:**

1. Open Visual Studio Code Marketplace and Browse to the [VSCode Java extension](https://marketplace.visualstudio.com/items?itemName=redhat.java)
2. The download version (under More Info) shows the pre-release version of the extension

<img width="245" alt="Screenshot 2022-07-25 at 5 16 32 PM" src="https:

[2022-07-25 15:42] isidorn commented on #417
Great. Just to check if there have been any updates here?

[2022-07-25 15:43] prashantvc commented on #417
Nothing yet! We will take it up next sprint (Aug)

[2022-07-26 08:29] madhurivadaligithub commented on #433
Hi @markoseekingalpha It seems you are facing issue with extension, can you please post under Q & A section of the respective extension for the required solution.
If it is related to VS Code, please create your issue here https://github.com/microsoft/vscode/issues

[2022-07-26 08:31] madhurivadaligithub commented on #432
Hi @julesML Can you please share more details about this issue, if it is related to VS Code
Please create your issue here https://github.com/microsoft/vscode/issues

[2022-07-26 18:45] isidorn commented on #445
@mohitsuman this request makes sense and something we have already discussed with the Marketplace team.
Assigning to @prashantvc for now

[2022-07-28 16:23] ssbarnea commented on #354
Any chance to address this? I wasted more than hour trying to debug blindly why marketplace rejected the upload with a defective error message.

I had to rename my extension `"name"` to make it unique to the entire marketplace (yep, all publishers), despite the fact that this requirements was never specified.

[2022-07-28 20:51] Samthapa76 opened #447 "make extension (plugins) cleo script for VSC (sanny builder)"
i wonder if you can make extension for VSC
its a Sanny builder which is cleo editor it don't sound much interested here but as you can say just 10 to 15 million user using this days you can see your self and yea it will be great if it support full functions to edit and create script from VSC to .cs scripts

[2022-07-29 01:56] limwa opened #448 "Connection is reset when using IPv6"
**Describe the bug**
When going to https://marketplace.visualstudio.com/_apis/public/gallery/extensionquery, whether it's on Chrome or using VS Code to search for extensions, I get the error net::ERR_CONNECTION_RESET. If I refresh the page a few times, I eventually stop getting the connection error. It comes back after a while.

**To Reproduce**
1. Go to https://marketplace.visualstudio.com/_apis/

[2022-07-29 07:15] ssbarnea commented on #235
Not allowing yanking of specific version is a security risk for reasons that vsmarketplace team never thought about.

Imagine that at some point a malicious user publishes version `2147483647.2147483647.2147483647.2147483647`, which happens to be the maximum version number supported by marketplace as `x.y.z.w` pattern is allowed while only `x.y.z` being documented. That means that they will be for

[2022-07-29 07:22] madhurivadaligithub commented on #447
Hi @Samthapa76 can you please share more details about this issue, if it is related to VS Code
Please create your issue here https://github.com/microsoft/vscode/issues

[2022-07-30 13:34] StephenGhool opened #449 "Cannot install any extensions"
Issue Type: <b>Feature Request</b>

Good day, recently my vscode extensions were randomly uninstalled and now I have an error installing all extensions. Some of the errors are as follows:
- Error while installing 'Python' extension. Please check the log for more details
- Unable to install the extension. Please Exit and Start VS Code before reinstalling.
- "Request was blocked due to exceeding usa

[2022-08-02 05:40] #442 closed

[2022-08-02 05:48] madhurivadaligithub commented on #429
can you please share more details about this issue, if it is related to VS Code
Please create your issue here https://github.com/microsoft/vscode/issues

[2022-08-02 06:23] manifestinteractive commented on #256
It looks like this is actually an issue with the instructions in VS Code.  They should probably give you different instructions based on domain registrar.  The instructions you can copy and paste, as well as the instructions in the modal that pops up had the same instructions that included the domain suffix at the end.  Removing that from my domain verification hostname solved my problem of not be

[2022-08-04 10:12] madhurivadaligithub commented on #441
Since we haven't heard back from you in a while, we assume the issue is resolved. Feel free to create a new ticket if you have any other issues.

[2022-08-04 10:12] #441 closed

[2022-08-04 10:15] madhurivadaligithub commented on #438
Since we haven't heard back from you in a while, we assume the issue is resolved. Feel free to create a new ticket if you have any other issues.

[2022-08-04 10:15] #438 closed

[2022-08-04 10:15] madhurivadaligithub commented on #435
Since we haven't heard back from you in a while, we assume the issue is resolved. Feel free to create a new ticket if you have any other issues.

[2022-08-04 10:15] #435 closed

[2022-08-04 10:15] madhurivadaligithub commented on #434
Since we haven't heard back from you in a while, we assume the issue is resolved. Feel free to create a new ticket if you have any other issues.

[2022-08-04 10:15] #434 closed

[2022-08-04 10:17] madhurivadaligithub commented on #439
@carterworkinc06 Since we haven't heard back from you in a while, we assume the issue is resolved. Feel free to create a new ticket if you have any other issues.

[2022-08-04 10:17] #439 closed

[2022-08-04 10:18] madhurivadaligithub commented on #433
@markoseekingalpha  Since we haven't heard back from you in a while, we assume the issue is resolved. Feel free to create a new ticket if you have any other issues.

[2022-08-04 10:18] #433 closed

[2022-08-04 10:19] madhurivadaligithub commented on #432
@julesML Since we haven't heard back from you in a while, we assume the issue is resolved. Feel free to create a new ticket if you have any other issues.

[2022-08-04 10:19] #432 closed

[2022-08-04 10:19] madhurivadaligithub commented on #429
@Deepak9633 Since we haven't heard back from you in a while, we assume the issue is resolved. Feel free to create a new ticket if you have any other issues.

[2022-08-04 10:19] #429 closed

[2022-08-04 10:21] isidorn commented on #427
Yeah, you need internet for this. Closing as by design

[2022-08-04 10:21] #427 closed

[2022-08-04 10:21] madhurivadaligithub commented on #440
Hi @JounQin, if it is related to VS Code, please create your issue here https://github.com/microsoft/vscode/issues

[2022-08-04 10:30] JounQin commented on #440
I don't think it's related to VSCode directly, we want to transfer VSCode extension's publisher.

[2022-08-05 06:32] madhurivadaligithub commented on #440
Hi @JounQin
Usually, we do not allow transfer of VSCode extensions since it has following consequences:
1.	Users will not be able to install the older versions of your extensions that got published before the extension transfer from the VSCode.
2.	If this extension is used as a dependency in other extensions by using publisherName.ExtensionName, that would not work.
3.	You need to update all refer

[2022-08-05 06:38] JounQin commented on #440
Thanks, I do confirm them.

[2022-08-05 07:08] madhurivadaligithub commented on #440
Thank you, We need your VSID to process this request, please follow below steps to share VSID.
1.       Login to the Marketplace (https://marketplace.visualstudio.com ) with your email address, **which have an owner access to the publisher "unifiedjs"**
2.       After getting logged in, from the same browser window, open https://marketplace.visualstudio.com/_apis/connectiondata
3.       You should

[2022-08-05 07:18] JounQin commented on #440
cc @wooorm who has the owner access to the publisher "unifiedjs"

[2022-08-05 07:35] wooorm commented on #440
[code]

I believe this is the field you want. Let me know if I need to paste the rest too.

[2022-08-05 10:21] madhurivadaligithub commented on #440
@JounQin  @wooorm Thanks for the details, completed the extension transfer to new publisher.

[2022-08-05 10:27] JounQin commented on #440
Thanks for transferring and https://marketplace.visualstudio.com/items?itemName=unifiedjs.vscode-mdx just works!

[2022-08-05 10:27] #440 closed

[2022-08-05 10:29] wooorm commented on #440
Thanks @madhurivadaligithub!

@JounQin Can you update the links in the readme etc? Thanks!

[2022-08-05 10:32] JounQin commented on #440
I'm just going to do this.

[2022-08-05 12:30] anupkmr03 commented on #417
Changes are completed and live on PPE environment.

[2022-08-05 12:30] #417 closed

[2022-08-05 12:43] anupkmr03 commented on #398
Changes are done and deployed to PPE.

[2022-08-05 12:43] #398 closed

[2022-08-05 13:18] isidorn commented on #398
@anupkmr03 awesome thank you!

[2022-08-05 15:19] JounQin commented on #440
https://marketplace.visualstudio.com/items?itemName=unifiedjs.vscode-mdx v1.0.1 is finally been released!

[2022-08-05 15:35] isidorn commented on #292
We are starting an investigation on unlisted extensions. Would the following behaviour be what you would expect? @ayim

There is a way to mark a version of an extension as unlisted in the publishing step (for example a `vsce` argument).
If the latest version of the extension A is unlisted then:

* Extension A would not show up in search results, both on the Marketplace and in VS Code.
* Public pub

[2022-08-05 17:20] tyaginidhi commented on #292
Looking at the proposed solution above, this is a useful solution for first time release of an extension as unlisted, and making it available to selected users for preview.

However, if we depend on just the latest version for making an extension invisible, all it is doing is stopping new users from discovering it. All the existing users still get the autoupdate to latest version. So, this cant re

[2022-08-05 17:29] brettcannon commented on #292
I assume the extension will still be listed in VS Code's Extensions explorer once it's installed? One potential case I'm thinking about is we break out debugging support for the Python extension so it can be updated independently of the main extension. We would want to allow folks to pin the version of the debugging extension to support older versions of Python while letting the Python extension i

[2022-08-05 17:38] isidorn commented on #292
Correct that is not the use case here. A test mechanism for future extension releases are [pre-release extensions](https://code.visualstudio.com/api/working-with-extensions/publishing-extension#prerelease-extensions).
Some use cases of unlisted extensions:
* Extension dependencies - when one of the dependencies does not really make sense to be installed independently. Brett's example from ☝️
* Som

[2022-08-05 18:11] brettcannon commented on #292
That's more of a @luabud extension, but I think so since people will still be able to uninstall if necessary.

[2022-08-05 23:04] alefragnani commented on #292
Hi @isidorn ,

Glad to hear you thought about this scenario. It’s a _kind of_ private marketplace feature which has been requested for a while.

I agree. The latest version should define its visibility

And I have a question:
* How about **Extension Recommendation**?
    I guess since unlisted extensions are installable via extension pack and extension dependency, it would also be installable/visi

[2022-08-07 02:16] xiaowenwei0622 opened #450 "改了css 页面样式不变"
Type: <b>Bug</b>

每次需要重新运行一遍

VS Code version: Code 1.70.0 (da76f93349a72022ca4670c1b84860304616aaa2, 2022-08-04T04:38:16.462Z)
OS version: Windows_NT x64 10.0.19042
Modes:

[2022-08-07 08:31] yuchien302 commented on #235
Since default `vsce publish` takes everything in the folder and uploads it, I just accidentally publish a version that includes my .env file with secrets in it. And I have no way to delete that version.

Seriously, how is deleting a published version still in the backlog for over 5 years now?

[2022-08-08 05:08] madhurivadaligithub commented on #450
can you please share more details about this issue, if it is related to VS Code
Please create your issue here https://github.com/microsoft/vscode/issues

[2022-08-08 08:48] sandy081 commented on #292
Another use case is to share libraries across extensions. For example, if there are multiple extensions depending on same library for eg .NET binaries then one can publish .NET binaries library extension (platform specific) and others can simple depend on this extension.

[2022-08-08 08:53] prashantvc commented on #292
This is how I imagined platform specific extensions to work in the beginning 😄

[2022-08-08 13:05] bwateratmsft commented on #292
I had a slightly different idea; basically the extension would never show up in lists or search, but _would_ show up if you accessed it directly by ID. So, not this:

[2022-08-08 17:45] joyceerhl commented on #292
The [Remote Repositories extension](https://marketplace.visualstudio.com/items?itemName=ms-vscode.remote-repositories) could potentially benefit from being an unlisted extension. Remote Repositories is a library extension that both [GitHub Repositories](http://marketplace.visualstudio.com/items?itemName=github.remotehub) and [Azure Repos](https://marketplace.visualstudio.com/items?itemName=ms-vsco

[2022-08-08 18:54] andrewstephen74 opened #451 "I cant download any extensions/ the extensions I have are not working."
Type: <b>Bug</b>

I tried to download python extensions and I am not able to.

VS Code version: Code 1.70.0 (da76f93349a72022ca4670c1b84860304616aaa2, 2022-08-04T04:38:16.462Z)
OS version: Windows_NT x64 10.0.22000
Modes:

[2022-08-09 06:37] glennsarti commented on #415
Still an issue :-(

[2022-08-09 08:01] prashantvc commented on #292
Small correction here:

This would not be a 404, but extension details page will be visible. Think this as [Youtube's unlisted videos](https://support.google.com/youtube/answer/157177?hl=en&co=GENIE.Platform%3DDesktop)

[2022-08-09 12:32] isidorn commented on #292
Two use cases for unlisted extensions from @chuxel
https://marketplace.visualstudio.com/items?itemName=ms-dotnettools.vscode-dotnet-runtime
https://marketplace.visualstudio.com/items?itemName=vsciot-vscode.vscode-iot-device-cube

[2022-08-10 07:21] reduckted opened #452 "Cannot edit the overview of a Visual Studio extension without uploading a new version"
**Describe the bug**
I want to edit the overview of a Visual Studio extension to say that it's now deprecated. When trying to save changes to the overview, I am told that an extension with the same version already exists.

**To Reproduce**
Steps to reproduce the behavior:
1. Publish a Visual Studio extension.
2. Go to _Manage Extensions_.
3. Find the extension you published and select _Edit_.
4. E

[2022-08-10 08:16] nikhgup commented on #452
@reduckted This is expected behavior as per recent changes. There is no change allowed for extension without updating version of extension.

[2022-08-10 09:20] prashantvc commented on #452
This change guarantees end users that the extension is immutable, description, license and any other metadata is mapped to an extension version.
It's a minor inconvenience to publishers like you, but it's a first step in many trust and security features coming to the marketplace

[2022-08-10 09:20] #452 closed

[2022-08-10 09:29] reduckted commented on #452
Thanks @prashantvc, that's understandable. Is there any way to deprecate an extension? #292 seems to be pretty close to that, so I might add a comment over there explaining my situation.

[2022-08-10 15:00] isidorn commented on #292
I just had a great conversation with @xavierdecoster (NuGet) and here's some thoughts from that discussion:
* The unlisted extension feature on NuGet is mostly used by package authors as a way to "soft delete" specific versions of a package. And as a way to stop new users from getting that package, while old users of the package could still happily use it.
* VS Code actually does not have a use ca

[2022-08-10 23:31] luabud commented on #292
I agree Pylance would be a good use case here, and I quite like the `dependency` flag name/idea.

[2022-08-11 04:26] vivekm33na opened #453 "vs code marketplace is showing offline and not connecting to internet."
Type: <b>Bug</b>

I am connected to internet but vs code marketplace shows i am offline. please help me

actual result : unable to search the marketplace when offline, please check your network connection

expected result : i should be able to search for extensions

VS Code version: Code 1.70.1 (6d9b74a70ca9c7733b29f0456fd8195364076dda, 2022-08-10T06:08:33.642Z)
OS version: Windows_NT x64 10.0.226

[2022-08-11 09:09] prashantvc commented on #292
#### Extension dependencies

It means the author can control if an extension version is a `dependency` or `hidden`. IMO, this flag/property should be part of an extension, not a VSIX file/version of extension. If we maintain `dependency` property per version, it doesn't add any value

#### Enterprise extensions
Making a whole extension as `dependency` or `hidden` will help with enterprise use case

[2022-08-11 10:11] xavierdecoster commented on #292
Some questions:

* Is it fair to say that the latest version could define the flag for the whole extension?
* Is it desirable for authors to define the flag as part of the extension manifest?
* Is it desirable for extension owners to be able to toggle the flag _after_ uploading to the registry?
* Is it desirable for clients (e.g. VS Code IDE) to have the flag value available in the extension manif

[2022-08-11 10:36] isidorn commented on #292
@xavierdecoster thanks for thinking about this and for the great questions. Let me try to answer:

1. Yes. Just discussed this with @sandy081 and @prashantvc and we are in agreement
2. This is up for debate. We thought similar to the sponsor feature this is part of `package.json`, and then `vsce` transforms it to whatever is best for the MP
3. No, not needed. If they want to change, they should ju

[2022-08-11 10:40] reduckted commented on #292
I have a Visual Studio extension that I would like to deprecate (see #452). The behavior described in https://github.com/microsoft/vsmarketplace/issues/292#issuecomment-1206589931 sounds like it would suit my needs. A couple of questions though:

* All the behavior mentioned in this issue seems to refer to VS Code. Would Visual Studio extensions also be supported by this proposal?
* I'd really lik

[2022-08-11 11:19] prashantvc commented on #292
@reduckted
Yes, VS IDE extensions will also benefit, however implementation can differ.
We will have more details to share when we are ready :)

[2022-08-11 12:43] michealespinola opened #454 "There are marketplace entries for linking to copyright streaming media"
Type: <b>Bug</b>

An example marketplace search of, "one piece red", will return multple entries specific to viewing this anime online. I recommend using quotes in the search.

Entries such as these are starting to pollute normal search results when there are matching terms.

VS Code version: Code 1.70.0 (da76f93349a72022ca4670c1b84860304616aaa2, 2022-08-04T04:38:16.462Z)
OS version: Windows_NT x6

[2022-08-11 16:41] anangaur commented on #20
Can we dupe this to #154? Is this issue represented in the list on that issue? /cc: @prashantvc @isidorn

[2022-08-11 16:48] anangaur commented on #71
Can this be duped to #154 after ensuring its listed as a category of search improvements we want to pursue? /cc: @prashantvc @isidorn

[2022-08-11 17:43] Tyriar commented on #71
@anangaur #154 links to this issue in its top comment, it looks like you're using #154 as an overall checklist in which case this should stay open until it's improved?

[2022-08-11 19:15] Healivas opened #455 "You are idiots"
Type: <b>Bug</b>

Почините свою хуету. Ебаные шакалы, как можно позиционировать себя "Топ" компанией и разрабатывать какие-либо услуги, если ваш сайт, продукты - калловые ошмётки? Ебаные производители бумаги и те делают больше пользы, чем вы. Наймите себе кодера-кольника за 100$ из РФ, бездари обоссаные

VS Code version: Code 1.70.1 (6d9b74a70ca9c7733b29f0456fd8195364076dda, 2022-08-10T06:08:33.64

[2022-08-12 09:54] #455 closed

[2022-08-12 09:57] isidorn commented on #20
I would prefer if we leave this open, since #154 points to this issue for more details.
However I know that @SaiKanth007 and Karan Jain have done improvements to the extension search and one of the improvements was support for excluding words. Once that ships we can go ahead and close this issue.

[2022-08-12 09:59] RandomFractals commented on #154
@prashantvc and @isidorn: how is this new extensions reranking page being used in improving extension search results by the marketplace team?

I tried and moved the [Pivotal Concourse CI Pipeline Editor](https://marketplace.visualstudio.com/items?itemName=Pivotal.vscode-concourse) down the recommended extensions list when searching for `image editor` because it has nothing to do with image editing

[2022-08-12 18:26] diegoandresalvarez opened #456 "Reformulate text as question"
Type: <b>Bug</b>

There is a message that says in the PYTHON extension that says

**We noticed you're using a conda environment. If you are experiencing issues with this environment in the integrated terminal, we recommend that you let the Python extension change "terminal.integrated.inheritEnv" to false in your user settings.**

And then the options YES or NO

Could you please ask a question? The

[2022-08-13 23:06] codedChaos commented on #154
Just commenting to remind myself to research and elaborate in the morning but has anyone mentioned, or created an issue around the inefficacy of using multiple sort filters in a search?

In my years of VS Code extension searches, I typically have tried to improve results by using two sorting metrics. My biggest example is usually something like this:

[code]

or

[code]

I do this because simply s

[2022-08-14 14:25] jonaprieto commented on #235
The best thing to do is probably delete the extension and publish it again. Always remember to check what is included running `vsce ls`. To ignore files use the file `.vscodeignore`.

[2022-08-14 21:25] codedChaos commented on #20
don't suppose we have access to compile those patches and test them on our own?

[2022-08-15 09:39] isidorn commented on #20
@codedChaos unfortunately not right now. However I expect VS Code insiders to have these changes some time in September.

[2022-08-15 09:44] isidorn commented on #154
@codedChaos this is great feedback. fyi @SaiKanth007 @kj0171

[2022-08-15 10:01] kamalouchah opened #457 "problem espace de travail"
Type: <b>Feature Request</b>

ispace de travail

VS Code version: Code 1.70.1 (6d9b74a70ca9c7733b29f0456fd8195364076dda, 2022-08-10T06:09:06.872Z)
OS version: Windows_NT ia32 6.1.7601
Modes:

[2022-08-16 04:47] madhurivadaligithub commented on #457
Hi @kamalouchah can you please share more details about this issue, if it is related to VS Code
Please create your issue here https://github.com/microsoft/vscode/issues

[2022-08-16 04:48] madhurivadaligithub commented on #456
Hi @diegoandresalvarez can you please share more details about this issue, if it is related to VS Code extensions
Please create your issue here https://github.com/microsoft/vscode/issues

[2022-08-16 04:50] madhurivadaligithub commented on #454
Hi @michealespinola can you please share more details about this issue, if it is related to VS Code extensions
Please create your issue here https://github.com/microsoft/vscode/issues

[2022-08-16 04:51] madhurivadaligithub commented on #451
Hi @andrewstephen74 can you please share more details about this issue (any error messages/screenshots), if it is related to VS Code extensions
Please create your issue here https://github.com/microsoft/vscode/issues

[2022-08-16 05:33] michealespinola commented on #454
There are multiple bogus extensions. Just search the marketplace for "one piece red" and you will see them. There are currently about ~13 of them that match that particular search. Here is an example marketplace URL:

https://marketplace.visualstudio.com/items?itemName=OnePieceRedDeutsch.One-Piece-Red-hd-stream-Deutsch

[2022-08-16 07:55] BeardedDaddy opened #458 "Unable to find java executable"
Type: <b>Performance Issue</b>

Good morning I am getting a java runtime notification. I have already clicked on the "Get Java Runtime" and downloaded the lasted version of java, restarted my computer and get the same message. I am using VS Code version 1.70.1. Is this a known issue. Also VS Code keeps asking me to pick an interpreter. It is set up to use Python but periodically I get this message

[2022-08-16 09:36] isidorn commented on #458
Please ask this question on StackOverflow. This is not a VS Code marketplace issue.

[2022-08-16 09:36] #458 closed

[2022-08-16 09:39] isidorn commented on #292
3. This might overcomplicate engineering work. Let's discuss once @xavierdecoster gets back from vacation. Anyways this is not a requirement for the VS Code team.

[2022-08-17 01:47] tamuratak commented on #154
Hi, I am one of LaTeX Workshop's maintainers.

When searching a word `tex`, the extension's rank is ridiculously low. The word `tex` is set as a keyword in `package.json`. Users tend to use `tex` as the same term as `latex` although they are different.

- https://github.com/James-Yu/LaTeX-Workshop/blob/0b003ecb513de14b4e2667b9ecb8e9908af39eda/package.json#L25

We can say the same thing to `ms-pyth

[2022-08-17 17:03] rgrunber commented on #292
Just to add an example, https://github.com/microsoft/vscode/issues/124662 . The discussion proposed unlisted extensions because some users were upset to discover that one extension could install another (eg. that provides utilities) without explicit authorization. To achieve the same effect as hiding, the library was just made to an npm module with all dependent extensions contributing the exact s

[2022-08-18 03:05] xqdoo00o opened #530 "VS Code extension icon assets type and encoding"
For now, vs code extension's icon use the image/png type and gzip encoding(like this [python extension icon](https://ms-python.gallerycdn.vsassets.io/extensions/ms-python/python/2022.12.1/1660785997548/Microsoft.VisualStudio.Services.Icons.Default)).
The gzip encoding is not useful for png format(and basically every bitmap format), icon size even bigger after gziped which only increase useless cpu

[2022-08-18 05:57] madhurivadaligithub commented on #454
@michealespinola Thanks for taking time to report this. We took these extensions down from the Marketplace.

[2022-08-18 07:59] ali50m opened #459 "need more categories support for VsixPublisher.exe when publish vsix to marketplace.visualstudio.com"
**Describe the bug**
I am trying to upload a Visual Studio theme to Visual Studio extension Marketplace, with VsixPublisher.exe command line, as documented in [walkthrough-publishing-a-visual-studio-extension-via-command-line](https://docs.microsoft.com/en-us/visualstudio/extensibility/walkthrough-publishing-a-visual-studio-extension-via-command-line?view=vs-2022#publish-the-extension-to-the-marke

[2022-08-18 12:14] isidorn commented on #154
@tamuratak great feedback!
fyi @SaiKanth007 @kj0171

[2022-08-18 13:35] SabotageAndi opened #460 "Can't respond to Question, because Captcha is required that is not displayed"
**Describe the bug**
When I want to responde to a question, I only get the response  that there was an error loading data.

![image](https://user-images.githubusercontent.com/859801/185407082-f4246683-25ea-4ba9-aa4a-f4038a056085.png)

The error in the dev tools console says that a ReCaptcha token is invalid. But I don't get a captcha displayed at all.
![image](https://user-images.githubusercontent

[2022-08-18 19:09] daalcant commented on #235
+1 for this feature.

[2022-08-23 04:50] madhurivadaligithub commented on #451
@andrewstephen74  Since we haven't heard back from you in a while, we assume the issue is resolved. Feel free to create a new ticket if you have any other issues.

[2022-08-23 04:50] #451 closed

[2022-08-23 04:51] madhurivadaligithub commented on #457
Hi @kamalouchah, since we haven't heard back from you in a while, we assume the issue is resolved. Feel free to create a new ticket if you have any other issues.

[2022-08-23 04:51] #457 closed

[2022-08-23 04:51] madhurivadaligithub commented on #450
Since we haven't heard back from you in a while, we assume the issue is resolved. Feel free to create a new ticket if you have any other issues.

[2022-08-23 04:51] #450 closed

[2022-08-23 04:52] madhurivadaligithub commented on #447
Since we haven't heard back from you in a while, we assume the issue is resolved. Feel free to create a new ticket if you have any other issues.

[2022-08-23 04:52] #447 closed

[2022-08-23 04:53] madhurivadaligithub commented on #453
Hi @vivekm33na can you please share more details about this issue, if it is related to VS Code
Please create your issue here https://github.com/microsoft/vscode/issues

[2022-08-23 04:54] madhurivadaligithub commented on #456
Hi @diegoandresalvarez, since we haven't heard back from you in a while, we assume the issue is resolved. Feel free to create a new ticket if you have any other issues.

[2022-08-23 04:54] #456 closed

[2022-08-23 14:45] BhoneSint-OWEN opened #461 "can't see any extension icon and cannot install either"
Type: <b>Bug</b>

 cannot install any extension and the icons are unavaliable

VS Code version: Code 1.70.2 (e4503b30fc78200f846c62cf8091b76ff5547662, 2022-08-16T05:35:13.448Z)
OS version: Windows_NT x64 10.0.19041
Modes:

[2022-08-23 14:58] jpogran commented on #415
I'm happy to report the page now shows the correct content after we published a new release today. I'm unsure if this is because the caching issue was fixed and this issue not updated, or because of the new published extension.

[2022-08-23 15:13] #461 closed

[2022-08-24 09:24] xiangxinfei opened #462 "git解决冲突变的不方便"
Type: <b>Feature Request</b>

以前合并文件冲突的时候  可以直接点击保留当前更改 或者  保留传入的更改这样的选项按钮 .  现在没有了  变得很不方便

VS Code version: Code 1.70.2 (e4503b30fc78200f846c62cf8091b76ff5547662, 2022-08-16T05:35:13.448Z)
OS version: Windows_NT x64 10.0.17763
Modes:

[2022-08-24 12:49] #454 closed

[2022-08-24 15:53] Okan-ucan opened #463 "java"
Type: <b>Bug</b>

java programı nasıl çalıştırılıyor

VS Code version: Code 1.70.2 (e4503b30fc78200f846c62cf8091b76ff5547662, 2022-08-16T05:37:58.957Z)
OS version: Windows_NT ia32 6.1.7601
Modes:

[2022-08-25 05:17] madhurivadaligithub commented on #462
Hi @xiangxinfei  can you please share more details about this issue, if it is related to VS Code
Please create your issue here https://github.com/microsoft/vscode/issues

[2022-08-26 03:26] Ankit-Pani commented on #463
Java programlarını çalıştırmak için VSCode kullanmayın, bu hatayı başlangıçta ben de yaptım. Bunun yerine IntelliJIDea'yı kullanın. Bana Daha Sonra Teşekkür Edeceksiniz!

[2022-08-29 18:39] yitao-mutable opened #464 "Can't add people to the VS Code extension acquisition page"
**Describe the bug**
Can't add people to the VS Code extension acquisition page

**To Reproduce**
Steps to reproduce the behavior:
1. Go to dev.azure.com
2. Add the new user
3. New user go to acquisition page
4. No permission to see

**Expected behavior**
The acquisition page showing how many install everyday

**Screenshots**
User not seeing this:
<img width="241" alt="image" src="https://user-ima

[2022-08-30 08:10] isidorn commented on #463
Closing since this issue does not have reproducable steps

[2022-08-30 08:10] #463 closed

[2022-08-30 15:01] ucheNkadiCode commented on #292
To add to this discussion, our team is looking to build an extensibility model for our container tools in which we would have common container library extension unifying multiple other extensions. However, in this case, the Common Container Library would be useless on its own and we wouldn't want users to download this extension thinking it has a use other than being a dependency.

Allowing this s

[2022-08-30 16:08] samishal1998 commented on #352
The same problem, it's a language highlight extension that literally has nothing except the (tmLanguage.json,language-configuration.json) and the icons
![Screen Shot 2022-08-30 at 6 05 34 PM](https://user-images.githubusercontent.com/21310077/187486644-673efa21-b565-4bc2-89c7-d98706e36478.png)

[2022-08-30 17:16] madskristensen opened #465 "Trending, Most Popular, and Highest Rated is wrongly filtered to VS 2019 instead of 2022"
**Describe the bug**
The list of extensions shown in the 3 swim lanes target VS 2019 instead of VS 2022.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://marketplace.visualstudio.com/vs
2. Look at the swim lanes

**Expected behavior**
VS 2022 was released in November of 2021. We need to show VS 2022 related extensions on the front page of the Marketplace.

![image](https://user-

[2022-08-30 18:08] cyberluke commented on #28
It is not there:https://marketplace.visualstudio.com/items?itemName=vs-publisher-306627.ANTSProfilerVisualStudioAdd-in&ssr=false#overview

[2022-08-31 09:12] jakemraz opened #466 "remote-ssh doesn't work for python"
My environment :
- Macbook Pro M1
- Target VM for SSH : Ubuntu for GCP Computing Engine

When I ran 'debug', the output of the python is shown as below

-------------

Experiment 'pythonaa' is active
LSP Notebooks experiment is enabled
LSP Notebooks interactive window support is enabled

Python interpreter path: /usr/bin/python3

[ERROR 2022-7-31 9:2:35.966]: [Error: Command failed: /usr/include/p

[2022-08-31 09:19] #466 closed

[2022-08-31 12:07] fbricon commented on #292
Another example of extension that should be unlisted: https://marketplace.visualstudio.com/items?itemName=redhat.vscode-rsp-ui

cc @robstryker

[2022-08-31 12:33] isidorn commented on #292
@fbricon can you provide more details how that extension is used? Does it fall under use case (i) from my [comment above](https://github.com/microsoft/vsmarketplace/issues/292#issuecomment-1210800044)

[2022-08-31 12:46] fbricon commented on #292
@isidorn indeed, it works a dependency. Provides all the UI and API for managing application servers, but you need to install actual server providers, like [redhat.vscode-server-connector](https://marketplace.visualstudio.com/items?itemName=redhat.vscode-server-connector) or [redhat.vscode-community-server-connector](https://marketplace.visualstudio.com/items?itemName=redhat.vscode-community-serve

[2022-08-31 13:21] PedroDevStudent opened #467 "I can't update my extensions"
Type: <b>Bug</b>

Hello, i'm trying to update Live Server extension, but when i'm doing it, appers to manually install, the problem is, when i had done appears an error massage "{"$id":"1","innerException":null,"message":"Request was blocked due to exceeding usage of resource 'Count' in namespace 'AnonymousId'. For more information on why your request was blocked, see the topic \"Rate limits\" on

[2022-08-31 14:11] KB3HNS commented on #208
+1 I have been getting this for several days trying to update Extension Pack for Java 0.25.1.  This seems to only affect certain plugins.
Clarification on the experience:  Attempt to update directly fails with a dialog box stating "Error while updating <package name> extension.  Please check log for more details."  With a button "Try Downloading Manually...".  Clicking the button launches the syst

[2022-08-31 18:38] pgrivachev opened #468 "Marketplace page is always outdated"
Type: <b>Bug</b>

Marketplace page is always outdated.

See https://marketplace.visualstudio.com/items?itemName=Fivetran.dbt-language-server
And the same in VS Code extension page.
Last gif is missing in marketplace.

![image](https://user-images.githubusercontent.com/3650304/187755014-dc991b5c-d674-458c-ba63-70fede2040b0.png)

Also [changelog](https://marketplace.visualstudio.com/items/Fivetran.d

[2022-09-01 04:30] #462 closed

[2022-09-01 14:25] sahwala opened #469 "Extensions Installation"
Type: <b>Bug</b>

When i trying to install PlatformIO IDE the installation process take so long, i have tried to restart the application, reset the connection, flush the dns, reinstall the App. But nothing changed. But if i install other extension like, notepad++ keymap, Remote - WSL, it can install without any problem. Any sugestion to me ?

VS Code version: Code 1.70.2 (e4503b30fc78200f846c62cf8

[2022-09-01 16:36] ssbarnea commented on #468
Just to add some more heat to it, while prereleases were made available more than an year ago, the web interface does not display them in any distinguishable way. The list is truncated at something like 6 entries and there is no way to check older releases. If you happened to implement continuous delivery... the entire page becomes useless.

But the root of the issues around here is that if nobody

[2022-09-01 19:43] isidorn commented on #154
Another bad search and result

The first result should be the "Live Share" extension which is not even a result here.

<img width="324" alt="Screenshot 2022-09-01 at 21 42 01" src="https://user-images.githubusercontent.com/1926584/187998926-cf8ca1e6-4a26-44a4-8472-8c777881b7dd.png">

[2022-09-02 03:50] mkiowser opened #470 "workbench.desktop.main.js:810 Extension host terminated unexpectedly 3 times within the last 5 minutes."
my extensions can not work; here is two errors :
-------------------------------------------------------------------------------
## Fatal error in , line 0# Fatal JavaScript invalid size error 174895934####FailureMessage Object: 00000064A8BFD310 1: 00007FF65470D2ED node_api_get_module_file_name+18429 2: 00007FF6577A73AE Cr_z_zError+1660654 3: 00007FF6556A8D2B uv_random+5694443 4: 00007FF6537285D6

[2022-09-03 07:44] reduckted commented on #420
This was still happening today with `Microsoft.VSSDK.BuildTools` @ 17.2.2186, but after upgrading to 17.3.2094 I was able to publish an extension successfully.

[2022-09-03 07:44] #420 closed

[2022-09-03 09:36] mohitsuman commented on #445
Hi @prashantvc , is there any update on getting this fixed in the marketplace UI?

[2022-09-05 11:32] Shubham01dev opened #471 "Unable to add Extension"
Type: <b>Bug</b>

while searching extension for redux a Error comes with a statement that(Error while fetching xention. XHR failed )

VS Code version: Code 1.71.0 (784b0177c56c607789f9638da7b6bf3230d47a8c, 2022-09-01T07:36:10.600Z)
OS version: Windows_NT x64 10.0.22000
Modes:
Sandboxed: No

[2022-09-06 17:21] jcollard commented on #235
+1 for this feature.

[2022-09-06 18:29] bobmagicii commented on #235
its really weird how microsoft's attempt at creating storefronts always ends up in half the features needed just not existing. like the windows app store that you generally just dont want to interact with because it will break. and this which just has a super important dev tool not existing for years. also noticed this past year they started going radio silent on their open source stuff, after hav

[2022-09-07 08:46] PiotrKarczmarz opened #472 "Please unlock my VSIX ID - cannot reupload my extension anymore"
**Describe the bug**
I cannot reupload my extension [ContextKeeper](https://marketplace.visualstudio.com/items?itemName=ContextKeeper.ContextKeeper ) after deleting it (I had weird download issue when it was uploaded the first time). **My VSIX ID to unlock: 9694e3b5-4ef8-48f9-b44c-86dc26bd3a68**

**To Reproduce**
Steps to reproduce the behavior:
1. Go to [Publish New VS Extension](https://marketpl

[2022-09-07 20:48] solidsloth opened #473 "Cannot use "sloth" in Publisher ID"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Navigate to https://marketplace.visualstudio.com/manage/createpublisher
2. Enter anything in the "Name" field
3. Enter an id containing the word "sloth" in the "ID" field
4. Scroll down to bottom and click "Create"
5. See error that "Publisher Metadata has suspicious conte

[2022-09-08 08:52] Elecrop opened #474 "Can't access lua documentation"
Type: <b>Bug</b>

While hovering on lua function, the pop-up disappeares while trying to click on 'view documentation'

VS Code version: Code 1.71.0 (Universal) (784b0177c56c607789f9638da7b6bf3230d47a8c, 2022-09-01T07:25:38.437Z)
OS version: Darwin x64 21.6.0
Modes:
Sandboxed: No
Remote OS version: Linux x64 5.4.207-126.363.amzn2int.x86_64

[2022-09-08 11:52] Elecrop commented on #474
Marking this checkbox solved it
![image](https://user-images.githubusercontent.com/47279660/189115162-e6a22aa4-299e-4622-81eb-3e0a1422ce6b.png)

[2022-09-08 11:52] #474 closed

[2022-09-12 09:13] madhurivadaligithub commented on #472
@PiotrKarczmarz  We fixed this issue, can you please retry now?

[2022-09-12 20:06] ucheNkadiCode commented on #472
@madhurivadaligithub We are having this issue right now for our Visual Studio extension. What can we do? Is there a workaround?

[2022-09-12 20:38] shayan7109 opened #475 "Extention not install"
Type: <b>Bug</b>

"Error While installing'*'extention.please check the log for more detalis."i recive it from vs code and after click try downloading manually VS say:"once downloaded,please manually install the downloaded VSIX of'myextention'"
what is problem?

VS Code version: Code 1.71.0 (784b0177c56c607789f9638da7b6bf3230d47a8c, 2022-09-01T07:36:10.600Z)
OS version: Windows_NT x64 10.0.19044
Mo

[2022-09-13 09:04] PiotrKarczmarz commented on #472
Yes! It's working now 😀 Thank you @madhurivadaligithub!

[2022-09-13 09:23] #472 closed

[2022-09-13 14:30] isidorn opened #476 "Set CORP header with cross-origin value"
VS Code is becoming cross origin isolated and that resources that we load, such as icons etc, need to signal “ok for being embedded”.
Context https://github.com/microsoft/vscode/issues/158792#issuecomment-1222690949
Reference https://developer.mozilla.org/en-US/docs/Web/HTTP/Cross-Origin_Resource_Policy_(CORP)

So we need the Marketplace to set to set the following header in the response for resou

[2022-09-14 08:01] isidorn commented on #476
@SaiKanth007 just informed me he is out until Monday. So I would only expect a response then.

[2022-09-14 11:28] symmb opened #477 "What do the acquisition metrics mean exactly?"
Hi! I have some questions about the metrics shown on the "Acquisition" tab of the reports page and I couldn't find any documentation on this.

  - Does the "Install from VS Code" count include every download initiated from VS Code (`ext install ...`, "Install" button)? What about installs from extension packs and updates? Also, does that include web versions of VS Code like GitHub Codespaces?
  -

[2022-09-14 12:25] dsbasko opened #481 "Сan't publish the extension"
When trying to publish an extension, it gives an error: `An item with the same key has already been added`.
However, the extension is packaged and works fine with manual installation via vsix.

I tried:
- Change the name
- Change the version
- Change the publisher

[2022-09-14 15:08] #473 closed

[2022-09-15 13:43] ybadragon opened #478 "Transfer Extension to new Publisher"
Hello,

My company recently switched AAD instances for ADO and were told our marketplace publisher would follow through with the migration, this did not happen. I've recently learned it is not possible to transfer the entire publisher, however according to [Issue 440](https://github.com/microsoft/vsmarketplace/issues/440) it looks to be possible to transfer our extensions over to a new publisher.

[2022-09-19 11:40] isidorn commented on #475
I can not reproduce this. Sounds like a VS Code issue. I suggest you open an issue in the VS Code repo with exact reproducable steps.

[2022-09-19 11:40] #475 closed

[2022-09-19 20:20] yitao-mutable commented on #464
any updates?

[2022-09-19 21:51] rtlayzell commented on #169
Any update on this?

[2022-09-20 11:38] madhurivadaligithub commented on #478
Hi @ybadragon Thanks for reaching VS Marketplace Support Team.
 If your extensions are VS code ,
 Usually, we do not allow transfer of VSCode extensions since it has following consequences:
->Users will not be able to install the older versions of your extensions that got published before the extension transfer from the VSCode.
I->f this extension is used as a dependency in other extensions by usi

[2022-09-20 13:23] ybadragon commented on #478
Thank you for getting back to me, we were looking to transfer the ADO extension to a new publisher. Can you help me understand the reasoning behind why it's supported for VSCode extensions but not for ADO extensions? To developers everything is just going to the marketplace publisher so thats unexpected to me to be supported by 1 and not the other.

[2022-09-20 17:07] madskristensen opened #479 "Add sponsor link for VS IDE extensions"
VS Code shows sponsor links for any extension that has been specified in its manifest file.

![image](https://user-images.githubusercontent.com/1258877/191320168-aa38c45c-d692-4a6c-af7c-1bccdba5e8fa.png)

Please add one for VS extensions as well, but I suggest you do it on the publisher level, instead of the individual extension. Here's my idea.

## Step 1
On the publisher profile, add a field whe

[2022-09-20 19:54] SFC-Sarge commented on #479
Yes add sponsors

[2022-09-21 05:19] madhurivadaligithub commented on #478
@ybadragon We understood but this is design limitation for ADO.

[2022-09-21 08:34] prashantvc commented on #479
We did not go with Step 1 for VS Code for several reasons; the step 2 is the reasonable solution to support sponsorship.
This need help from Tina's team, I will talk to her and put it on our todo list

[2022-09-21 10:37] ssdishere opened #480 "Unable to update / install some extensions"
Type: <b>Bug</b>

I'm unable to update extensions such as intelliji, excel viewer, pylance. But im able to install other extensions such as docker and firefox debugger. I'm able to uninstall excel viewer but now i'm not able to install it again. It shows: "Error while installing 'Excel Viewer' extension. Please check the [log](command:workbench.action.showWindowLog) for more details."

VS Code ver

[2022-09-21 10:38] ssdishere commented on #480
i also tried changing the dns but it's not working

[2022-09-21 10:40] ssdishere commented on #480
also i tried to install it via the marketplace using the .visx file. But it shows installation failed.

[2022-09-21 11:17] prashantvc commented on #292
We are seeing a pattern here, there are two requirements 1) library extensions 2) internal (unlisted) extensions that people want to share with limited set of people

1. Library extension cannot be installed explicitly, it is meant as dependency for other extensions (eg: [Pylance](https://marketplace.visualstudio.com/items?itemName=ms-python.vscode-pylance) or [Remote Server Protocol UI](https://m

[2022-09-22 08:49] prashantvc commented on #292
@bwateratmsft
Makes sense not to surface these extensions anywhere within the Marketplace website.

We go back to square one with this :) This is something we will support eventually but with dependency we do not want them to be installed without the main extension

[2022-09-22 13:10] bwateratmsft commented on #292
Right, I'm speaking specifically to the Azure extensions case, but that wouldn't necessarily apply broadly. Our extension model is designed such that the core "library" extension _can_ be installed on its own (with limited usefulness), and the depending extensions installed a la carte, but we expect the majority of users will install one of the depending extensions directly (thus getting the "libr

[2022-09-24 16:19] Krishnapatel0127 opened #482 "unable to lose the software"
Type: <b>Bug</b>

its showing two unsaved files.i am unable to close the software.

VS Code version: Code 1.71.2 (Universal) (74b1f979648cc44d385a2286793c226e611f59e7, 2022-09-14T21:05:37.721Z)
OS version: Darwin arm64 21.3.0
Modes:
Sandboxed: No

[2022-09-26 09:24] JonFromMech opened #483 "Download/Install progress"
Type: <b>Feature Request</b>

Please integrate progress monitoring during installs.

VS Code version: Code 1.71.2 (74b1f979648cc44d385a2286793c226e611f59e7, 2022-09-14T21:03:37.738Z)
OS version: Windows_NT x64 10.0.19043
Modes:
Sandboxed: No

[2022-09-26 13:14] Jesuis33 opened #484 "FatBug"
Type: <b>Bug</b>

HAHAHHA

VS Code version: Code 1.71.2 (74b1f979648cc44d385a2286793c226e611f59e7, 2022-09-14T21:03:37.738Z)
OS version: Windows_NT x64 10.0.22621
Modes:
Sandboxed: No

[2022-09-26 16:39] MURTAZAJAN1122 opened #485 "extension issue"
Type: <b>Bug</b>

hi sir ,
i hope everyone will be fine my problem is that the extension of python is not installing in my vs studio please solve my problem.
thanks

VS Code version: Code 1.71.2 (74b1f979648cc44d385a2286793c226e611f59e7, 2022-09-14T21:03:37.738Z)
OS version: Windows_NT x64 6.3.9600
Modes:
Sandboxed: No

[2022-09-27 07:38] madhurivadaligithub commented on #485
@MURTAZAJAN1122 Can you please share more details about this issue (any error messages)

[2022-09-27 07:39] madhurivadaligithub commented on #484
Hi @Jesuis33  Can you please share more details about this issue, if it is related to VS Code
Please create your issue here https://github.com/microsoft/vscode/issues

[2022-09-27 07:41] madhurivadaligithub commented on #483
Please create your issue here https://github.com/microsoft/vscode/issues

[2022-09-27 16:49] ryanwelcher commented on #352
Hello, I am seeing the same error. Where can I get insight into what the suspicious content is?

[2022-09-28 00:01] PrismaPixelStudios opened #487 "Marketplace won't allow me to verify my domain ownership"
When configuring my organization as a publisher on Visual Studio Marketplace, I keep receiving an error that reads "The domain url provided could not be reached" when I hit save on the Details tab after entering my domain (https://prismapixel.studio) into the Domain name input box of the Verified domain section. The Verify button also does not become enabled after entering my domain in the input b

[2022-09-28 03:24] madhurivadaligithub commented on #478
@ybadragon Feel free to create a new ticket if you have any other issues.

[2022-09-28 03:24] #478 closed

[2022-09-28 08:25] #483 closed

[2022-09-28 16:16] TylerLeonhardt opened #488 "Support package.nls.json comment syntax for displayName and description"
When an extension has a package.nls.json file, it's allowed one of two syntaxes:
[code]
Example: https://github.com/microsoft/vscode-remote-ssh/blob/8d747f115589a3e870f2dabfb2cc2dc1561165aa/open-ssh-remote-edit/package.nls.json#L2-L8

Unfortunately, it looks like the marketplace doesn't support the complex syntax:
https://github.com/microsoft/vscode-remote-release/issues/7262

and displayName & de

[2022-09-28 16:19] TylerLeonhardt opened #489 "Honor package.nls.LOCALE.json files"
Related to #488 ...

Extensions can provide localized strings for their package.json using `package.nls.json` and `package.nls.LOCALE.json` files.

Can there be a mechanism in place for providing a `locale` like `de`, `pt-br`, etc and then if a `package.nls.LOCALE.json` exists in the VSIX, the value in _that_ file is used instead of the value in the `package.nls.json`?

If you open the VSIX of Git

[2022-09-28 19:24] guicaulada commented on #235
+1 for this feature

[2022-09-29 07:46] prashantvc commented on #292
I wrote down a quick spec, please leave a comment or a question

## Dependency extensions

Marketplace team will enable extension authors to publish dependency extensions. Dependency extensions are used as dependencies for a larger extension, they can be modular and may not provide any user interactions.

Now extension authors do not have an option to hide or restrict download of dependent extensi

[2022-09-29 09:17] SaiKanth007 commented on #467
@PedroDevStudent We have rate limiting enabled on our endpoints and the error you are getting is because of that.

This could have been an intermittent issue as well since we block the requests if they exceed certain number from a specific IpAddress or a user. Did you try updating your extension later sometime?

[2022-09-29 09:21] SaiKanth007 commented on #465
@madskristensen Currently the Trending carousel doesn't differentiate the extensions based on the VS version. Infact all of the carousels on the home page are all VS Version agnostic.

[2022-09-29 09:24] SaiKanth007 commented on #460
@SabotageAndi Can you please try now. We have temporarily disabled the reCapthca on our Q&A, Ratings page for maintenace work. So, you should be able to reply now

[2022-09-29 09:41] benibenj commented on #154
Here a comparison between the old and new Search results. I entered the exact same name of an extension. In the old version it shows up at second place which is fine (I think it should be first on exact match). In the new version it's placed a lot further down!

Old results:
<img src="https://user-images.githubusercontent.com/44439583/192996345-2e9fb30c-0115-4872-bd9b-6ca54cf1f647.png" width=35%>

[2022-09-29 09:48] #484 closed

[2022-09-29 09:53] madhurivadaligithub commented on #482
@Krishnapatel0127 , Please create your issue here https://github.com/microsoft/vscode/issues

[2022-09-29 09:54] prashantvc commented on #154
@benibenj thanks for a lot for the report! We will investigate it.
But generally, how do you like the new search service?

[2022-09-29 09:56] madhurivadaligithub commented on #470
Hi @mkiowser The issue was related to vs code.
Please create your issue here https://github.com/microsoft/vscode/issues

[2022-09-29 10:00] madhurivadaligithub commented on #471
@Shubham01dev  This issue related to vs code, please create your issue here https://github.com/microsoft/vscode/issues

[2022-09-29 10:02] madhurivadaligithub commented on #469
Hi @sahwala
the issue related to vscode, please create your issue here https://github.com/microsoft/vscode/issues

[2022-09-29 11:05] isidorn commented on #469
I can not reproduce. Thus closing this, as @madhurivadaligithub suggests if you can reproduce please create a new issue in VS Code with steps.

[2022-09-29 11:05] #469 closed

[2022-09-29 11:05] isidorn commented on #482
I can not reproduce. Thus closing this, as @madhurivadaligithub suggests if you can reproduce please create a new issue in VS Code with steps.

[2022-09-29 11:05] #482 closed

[2022-09-29 11:05] isidorn commented on #471
I can not reproduce. Thus closing this, as @madhurivadaligithub suggests if you can reproduce please create a new issue in VS Code with steps.

[2022-09-29 11:05] #471 closed

[2022-09-29 11:05] #470 closed

[2022-09-29 11:18] madhurivadaligithub commented on #464
Hi @yitao-mutable If you still facing issue, please visit publisher manage page
https://marketplace.visualstudio.com/manage/publishers/<your publisherid>, under "members" tab add required people with **reader** access

[2022-09-29 11:23] madhurivadaligithub commented on #453
Hi @vivekm33na  if you still facing the issue
Please create your issue here https://github.com/microsoft/vscode/issues

[2022-09-29 11:23] #453 closed

[2022-09-29 11:42] madhurivadaligithub commented on #480
Hi @ssdishere Its related to vs code, please create your issue here https://github.com/microsoft/vscode/issues

[2022-09-29 11:42] #480 closed

[2022-09-29 11:44] madhurivadaligithub commented on #446
This is being tracked at Customer support tickets.

[2022-09-29 12:23] SaiKanth007 commented on #477
- Does the "Install from VS Code" count include every download initiated from VS Code (ext install ..., "Install" button)? What about installs from extension packs and updates? Also, does that include web versions of VS Code like GitHub Codespaces? _1. Yes, the install count is for every download from VSCode
2. Yes, it includes the web version download as well
3. The install count for the extensio

[2022-09-29 12:32] xavierdecoster commented on #292
Suggestion: can we reverse the naming and logic for the boolean? By default, booleans have a value of `false`.

Instead of `allowExplicitInstall`, I'd suggest `disableExplicitInstall` instead.
Default value is `false`.

[2022-09-29 13:04] prashantvc commented on #292
We didn't pick it because it's a double negative and bit confusing!
@isidorn any thoughts?

[2022-09-29 15:14] bwateratmsft commented on #292
I know the general guidance for Windows settings is "Allow" with a default `true`, instead of "Disallow" with default `false`. This isn't Windows of course, but IMO the guidance is still applicable.

[2022-09-29 15:44] madskristensen commented on #465
Interesting. Well, both the `See more` links for both **Most Popular** and **Highest Rated** shows a VS 2019 filtered page. In that case, it should not add a version filter at all

[2022-09-29 18:33] isidorn commented on #449
I can not reproduce this issue. If you can reproduce please file a new issue in the vscode repository with exact steps and a gif demonstrating your issue

[2022-09-29 18:33] #449 closed

[2022-09-29 19:02] Hanuphant opened #490 "Jupyter extension fails on remote server"
Type: <b>Bug</b>

1. SSH via Remote-SSH.
2. Pull extensions from local and install them on the server.
3. Create cenvironment using miniconda3 and install python and jupyter along with r-base from r channel.
4. Create a new .ipynb file and configure the server to run from the python version installed with the conda environment.
5. Jupyter Notebook Server fails to start due to a import incorrection

[2022-09-29 19:12] luabud commented on #292
We actually do ask users to uninstall Pylance when the install seems to be corrupted for some reason, to then install it again. So that would be a problem indeed.

I also agree with @bwateratmsft -- if a user is looking for pylance explicitly (e.g. using its ID), I don't think it's a problem that they're able to install it directly.  The key thing is that it doesn't make sense to show Pylance when

[2022-09-29 20:55] yitao-mutable commented on #464
worked, thanks

[2022-09-29 20:55] #464 closed

[2022-09-30 04:10] madhurivadaligithub commented on #490
Hi @Hanuphant  The issue is related to VS Code, please create your issue here https://github.com/microsoft/vscode/issues

[2022-09-30 06:23] SaiKanth007 commented on #465
Yes, See more ticket link should ideally a 'any' version filter and no 'VS2019'. We will create an issue on our backlog for this.

[2022-09-30 09:13] symmb commented on #477
Cool, thanks for the clarification!

[2022-09-30 09:13] #477 closed

[2022-09-30 11:40] isidorn commented on #292
@prashantvc thanks for driving this and for nicely summarising. I think this is a right direction and we are not too far off.
Based on this great feedback from above ☝️ it seems like we need two independent `package.json` attributes:
[code]

I believe with two attributes we will make it more explicit and clear to the extension authors.
When `visibility: unlisted` the extension should also not show

[2022-09-30 12:14] benibenj commented on #154
It seems that smaller extensions (less downloads) are harder to find if they have multiple words in their name (Python C++ Debugger for example).

[2022-09-30 12:53] #490 closed

[2022-10-02 07:57] EvilDarkSoul opened #491 "Mannually adding extention"
Type: <b>Bug</b>

Find an extention to download (I Am trying to install PlatformIO IDE) have VSCode ask you to try and manually install the extention, Go to the download link (Press "Try Downloading manually") and download to downloads folder (MacOS (Big Sur)) once downloaded return to VSCode and press "Install from VSIX..." go into the downloads folder and select the .vsix file that you just down

[2022-10-03 04:56] madhurivadaligithub commented on #491
Hi @EvilDarkSoul
Please create your issue here https://github.com/microsoft/vscode/issues

[2022-10-03 07:28] isidorn commented on #491
It shows up in the extensions view as installed. Though maybe we do not show the installed list of extensions once an extension is installed via vsix. We should. If we do not please open a new issue in the vscode repo.
Closing this for now.

[2022-10-03 07:28] #491 closed

[2022-10-03 11:08] anazar2001 opened #492 "Resource bundle not found"
Type: <b>Bug</b>

Starting from Java extension 1.10.0 I started getting these errors in my VsCode workspace. The bundle in question has always been in the project

VS Code version: Code 1.71.2 (74b1f979648cc44d385a2286793c226e611f59e7, 2022-09-14T21:07:15.900Z)
OS version: Darwin arm64 21.1.0
Modes:
Sandboxed: No

[2022-10-03 11:08] anazar2001 commented on #492
<img width="1728" alt="Java Extension - Resource Bundle error" src="https://user-images.githubusercontent.com/13858727/193562951-a43b0e28-2b21-4732-af21-75c9124ef275.png">

[2022-10-03 11:11] anazar2001 commented on #492
[ResourceBundle - log.txt](https://github.com/microsoft/vsmarketplace/files/9696926/ResourceBundle.-.log.txt)

[2022-10-03 11:58] madhurivadaligithub commented on #492
Hi @anazar2001 This issue is related to VS Code, please create your issue here https://github.com/microsoft/vscode/issues

[2022-10-03 12:04] isidorn commented on #492
Or even better create it here for the java extension https://github.com/redhat-developer/vscode-java/issues?q=is%3Aopen+is%3Aissue

[2022-10-03 13:58] Vahe101 opened #493 "ftl7ytul"
Type: <b>Bug</b>

6hyt7ulihb6yt7u8876

VS Code version: Code 1.71.2 (74b1f979648cc44d385a2286793c226e611f59e7, 2022-09-14T21:12:14.256Z)
OS version: Linux x64 5.15.0-48-generic snap
Modes:
Sandboxed: No

[2022-10-03 13:58] #493 closed

[2022-10-03 16:11] ArquintL commented on #235
Exactly describes what just happened to me. I've used an older version of `HaaLeo/publish-vscode-extension` which does not yet support the pre-release flag and thus happily published my pre-release as a stable release to the marketplace.

Having fun times here creating another fake stable release to fix the issue by bumping just the version number

[2022-10-03 22:57] mjbvz opened #494 "Support relative path videos on extension pages"
## Feature request

Rendered extension readme pages should support videos that use relative paths. We already supported this for images.

[This test extension](https://marketplace.visualstudio.com/items?itemName=bierner.test-test) demonstrates the issue. The markdown in the readme is:

[code]

Unlike the `<img>` tags, the first video's `src` does not get correctly rewritten to point to the extensi

[2022-10-03 23:00] mjbvz opened #495 "Videos on extension pages should have a max width"
## Bug
For a large video used on an extension page:

[code]

The marketplace currently does not appear to set a `max-width`. This results in the video overflowing in to the rest of the page:

![Screen Shot 2022-10-03 at 3 58 16 PM](https://user-images.githubusercontent.com/12821956/193700695-631a0833-66d6-49ef-93ba-201ecd5bfbef.png)

[This test extension](https://marketplace.visualstudio.com/items

[2022-10-03 23:10] mjbvz commented on #494
To enable this in VS Code too, we'd also want the `/Microsoft.VisualStudio.Services.Content.Details` marketplace API to resolve the video path. It also does this for relative image paths

[2022-10-04 08:52] prashantvc commented on #292
Updated specs based on the feedback

## Dependency extensions

Marketplace team will enable extension authors to publish dependency extensions. Dependency extensions are used as dependencies for a larger extension, they can be modular and may not provide any user interactions.

Now extension authors do not have an option to hide or restrict download of dependent extensions in the marketplace. For

[2022-10-04 13:36] bwateratmsft commented on #292
@prashantvc just to clarify, that means the Publisher page, like this one for Microsoft: https://marketplace.visualstudio.com/publishers/Microsoft, and does _not_ mean the individual extension pages would be hidden, like this: https://marketplace.visualstudio.com/items?itemName=ms-azuretools.vscode-azureresourcegroups, correct?

[2022-10-04 14:06] isidorn commented on #292
@bwateratmsft correct.

[2022-10-04 14:11] isidorn commented on #495
@anupkmr03 the fix for this should be low hanging. Could we look into this one please?

[2022-10-06 05:42] SaiKanth007 commented on #495
@isidorn I am looking into this and will push the fix as part of our next deployment

[2022-10-06 09:57] SaiKanth007 commented on #460
Closing this as fixed. Please feel free to create a new issue if you see this issue again

[2022-10-06 09:57] #460 closed

[2022-10-06 10:11] SaiKanth007 commented on #459
Themes is a subcategory under tools, can you please try with 'tools_theme' as a category ?

[2022-10-06 10:15] SaiKanth007 commented on #459
I just looked into the http://[json.schemastore.org/vsix-publish](http://json.schemastore.org/vsix-publish) and see that themes category is missing here and that might be the reason for the issue you are facing. I will check with the team on this and update.

For now, to unblock you can try marketplace portal to create the extension (https://marketplace.visualstudio.com/manage/{yourPublisherName})

[2022-10-06 13:06] SaiKanth007 commented on #487
Before we save the domain for a publisher, we do a HEAD call to the domain mentioned and check for a 200 response. In this case, I see that the HEAD calls give a 503 and not 200 response.

When I tried the same from postman or local server it perfectly works fine. Does the site expect any specific cookie or block calls from any specific hosts?

[2022-10-06 13:08] SaiKanth007 commented on #467
Since we didn't hear back from you, we assume that the issue is resolved and, hence closing it. Feel free to create a new ticket if you are still facing the issue.

[2022-10-06 13:08] #467 closed

[2022-10-06 13:13] madhurivadaligithub commented on #485
Hi @MURTAZAJAN1122  Since we haven't heard back from you in a while, we assume the issue is resolved. Feel free to create a new ticket if you have any other issues.

[2022-10-06 13:21] MURTAZAJAN1122 commented on #485
Error in Installation of python extension

On Thu, Oct 6, 2022, 6:19 PM Muhammad Murtaza ***@***.***>
wrote:

[2022-10-06 13:21] SaiKanth007 commented on #485
Can you share more details about the error you are getting?
A screenshot of the error or recording of your issue would help us better understand the issue.

[2022-10-06 13:33] MURTAZAJAN1122 commented on #485
I an already shared.

On Thu, Oct 6, 2022, 6:22 PM Sai Kanth ***@***.***> wrote:

[2022-10-07 04:17] SaiKanth007 commented on #459
I checked with VSIDE team, it seems the Category was wrong in the .json file, it should be “theme” instead of Themes.

For example:
"categories": [
     "theme"
   ],

[2022-10-07 07:11] SaiKanth007 commented on #459
Yes, this is related to VsixPublisher.exe

[2022-10-07 14:38] MURTAZAJAN1122 commented on #485
No response.

On Thu, Oct 6, 2022, 6:47 PM Muhammad Murtaza ***@***.***>
wrote:

[2022-10-07 16:44] isidorn commented on #485
Closing until issue has reproducable steps.

[2022-10-07 16:44] #485 closed

[2022-10-09 11:56] AGoh2019 opened #496 "Python coverage on VS 2022"
Well, I am not sure if Python on VS 2022 covers the full-spectrum of Python with Frameworks such as Pandas, NumPy, SciPy, Matplotlib and PyTorch.  I am also not sure if I can do Tkinter GUI programming with Python on VS 2022.  If Python for VS 2022 are not able to cover Python data science, Tkinter GUI programming, then please update it.  I am gearing to use Python on VS 2022 to its fullest potent

[2022-10-10 05:43] jijinshaji opened #497 "android emulator is closed because of an internal error gpu found id 10de device id 0x1f99"
Type: <b>Bug</b>

open gls emulation failed to initalize . please consider the following troubleshooting steps

VS Code version: Code 1.72.0 (64bbfbf67ada9953918d72e1df2f4d8e537d340e, 2022-10-04T23:20:39.912Z)
OS version: Windows_NT x64 10.0.22621
Modes:
Sandboxed: No

[2022-10-10 10:13] isidorn commented on #497
Please file the issue with reproducable steps. Until that is done I am going to go ahead and close this.

[2022-10-10 10:13] #497 closed

[2022-10-10 16:36] anangaur commented on #292
IMO, visibility is a service side activity. It will be an anti-pattern if tomorrow a publisher wants to list (make visible) an extension that has `visibility` attribute set to `unlisted`. In addition, for a generic **unlist** feature, either the publisher or the service admins should be able to list/unlist any extension at will/requirements. Eg. for spam, critical bugs, vulnerabilities etc.

@pras

[2022-10-10 16:47] bwateratmsft commented on #292
I don't think regularly changing back and forth between unlisted/public is the intended use case. For spam, GitHub has features already; for bugs and vulnerabilities, they should just be fixed--unlisting an extension will not help anyone with the extension already installed.

[2022-10-10 16:56] isidorn commented on #292
Exactly what @bwateratmsft wrote ☝️
Unlisting here is unlike the nuget feature not something dynamic. It most likely holds true forever for an extension. Extensions changing the visibility is a corner case that should not happen.

[2022-10-10 17:31] anangaur commented on #292
Sounds good. I would like us all to just flesh out any future scenarios that may require service side unlisting. If we need one, then it might be more prudent to do it one way than 2 different ways (i.e. adding service side visibility option in future after going with metadata route today).

Some questions with respect to extension dependencies:
1. How does uninstall happen with dependencies? Does

[2022-10-10 21:28] anangaur opened #498 "Show changelog as a tab on the package details page"
Today, the following info are shown as links:
![image](https://user-images.githubusercontent.com/14800916/194954502-7bde1b64-913b-454b-87aa-f77ad6d9d0e3.png)

Of these, `changelog` is important info about the packages that could be shown as tabs in addition to the following:
![image](https://user-images.githubusercontent.com/14800916/194954760-91c47418-dc5c-43e7-ab40-d7e5a8b2a340.png)

Something l

[2022-10-11 15:58] motdotla opened #499 "Change publishing flow"
The current publishing flow requires generating a token that expires after some period of time.

I understand the security reasons. However, it adds a lot of friction.

1. I have to regenerate the token
2. The flow is not always clear on how to do so

Consider adopting NPM's approach - a simple multi-factor auth flow.

This would:

1. Minimize friction
4. Lead to more plugins published (increasing

[2022-10-12 22:19] mjbvz commented on #494
If you have `<img src="cat.gif">`, `cat.gif` is correctly rewritten by the marketplace so that is points to `cat.gif` in the extension repo

However if you have `<video src="test.mp4"></video>`, the marketplace does not rewrite anything. This means that `test.mp4` can't be resolved

Note that this also needs to be fixed for the `placeholder` attributed on videos:

[code]

[2022-10-13 04:01] qazhub commented on #410
I don't understand. @prashantvc The author attached a screenshot directly taken from the VS marketplace, it's an installation instruction for **ALL** VSCode extensions, why would you say it's not supported?

Well, if you are willing to check for yourself, here's a step by step guide to reproduce this issue:

- Go to the VS marketplace, select VSCode category. Or you can directly visit this page: h

[2022-10-13 04:38] qazhub commented on #410
As far as I can tell, this is a duplicate of #366. I think it's valid, either the copy feature need to be fixed, or the copy button should be removed completely.

[2022-10-13 08:09] isidorn commented on #410
I agree with the above ☝️

[2022-10-13 14:05] hitesh781 opened #500 "go live"
Type: <b>Bug</b>

when i use to click on go live after my html code it dose not show me How my website look but it open the folder where it stored and showing to download

VS Code version: Code 1.72.1 (129500ee4c8ab7263461ffe327268ba56b9f210d, 2022-10-10T17:22:48.346Z)
OS version: Windows_NT x64 6.0.6002
Modes:
Sandboxed: No

[2022-10-13 17:34] hediet commented on #154
`GitLens` should be first when searching for `Git Lens`:

![image](https://user-images.githubusercontent.com/2931520/195666100-53191969-3509-4f6a-8217-7d09623f1f54.png)

`Version Lens` should be below, as it does not even mention git.

[2022-10-13 19:01] brettcannon commented on #292
For `"allowExplicitInstall"`, will people be allowed to pin versions? The motivation for this question is we are planning to publish a debugpy extension (for debugging Python code). There's no reason to allow for (un)installing it separately, but since it would ship with Python code inside some users may want to pin to an older version (pinning to an older version is actually why we are going to s

[2022-10-14 08:16] isidorn commented on #494
@anupkmr03 just informed me the fix for this issue has been pushed.
He will comment here once the fix has been deployed to production. Thanks

[2022-10-14 11:02] isidorn commented on #292
@brettcannon by "pin version" you mean the current feature in VS Code that user can choose the exact version? If yes that will be unchanged with this feature.
If you mean a new feature that would control fixing versioning on the vs code side - then I would like to discuss this orthogonally to this discussion - and could you open a new feature request in the vscode repo for this? Thanks

[2022-10-14 13:34] isidorn commented on #495
@anupkmr03 just informed me the fix for this issue has been pushed.
He will comment here once the fix has been deployed to production. Thanks

[2022-10-14 13:34] #495 closed

[2022-10-14 14:13] anupkmr03 commented on #494
Hi @mjbvz, we do not update the overview content or any path for image/video. You probably added the complete path for image and local path for video due to that video is not rendered. This is the screenshot of readme.md file from downloaded VSIX.

![image](https://user-images.githubusercontent.com/16070906/195866610-8fc8b5d5-7a1e-4be7-bbfe-2d3828dbfd10.png)

Can you please re-check your original

[2022-10-16 19:26] anupkmr03 commented on #494
Hi @mjbvz, Sorry if my above reply was confusing, but I was trying to emphasize that you have added the complete URL of image despite that you are assuming that you have added only the local path. However, it isn't the case because we (Marketplace) do not alter the URLs in overview content neither for image nor for videos.
To clarify, I have re-uploaded the same extension with providing local path

[2022-10-17 07:29] madhurivadaligithub commented on #500
Hi @hitesh781
Please create your issue here https://github.com/microsoft/vscode/issues

[2022-10-17 08:07] #500 closed

[2022-10-17 15:04] mjbvz commented on #494
@anupkmr03 Something is rewriting the path. Could it be `vsce` instead? Does your team own the marketplace upload part of that tool?

[2022-10-17 22:21] brettcannon commented on #292
Yep!

🎉

[2022-10-17 22:46] eamodio opened #501 "Publishing VS Code extension fails with virus check"
It seems like all(?) vscode extensions are getting rejected for a failed virus check. I've seen this on 2 extensions now (both are built from CI with no dependency changes since the last successful publish very early this AM). And other extension authors are seeing the same failures.

I've also downloaded the vsix, scanned it locally, and scanned the zipped files and it all comes up clean -- as ex

[2022-10-18 11:01] melMass commented on #235
I just ran into that too 😅, unrelated but it's strange that it's a cli arg that defines that and not something in the package.json next to your version...

[2022-10-18 11:11] ArquintL commented on #235
I found out afterwards that everything would have worked in the first place because it does not matter whether you set the pre-release flag or not if the extension has already been bundled.
The fact that the VSCode backend (namely `https://marketplace.visualstudio.com/manage/publishers/<publisher>/extensions/<extension>/hub?_a=manageExtension`) and the VSCode Marketplace when opened in the browser

[2022-10-18 18:51] JohnnyMorganz opened #502 "Windows x64 platform specific extension does not show up"
**Describe the bug**
I've been trying to publish my VSCode extension https://marketplace.visualstudio.com/items?itemName=JohnnyMorganz.luau-lsp today. I publish for multiple targets separately: `win32-x64`, `linux-x64`, `darwin-x64`, `darwin-arm64`

Everything is "successful" and it even shows that its published in the `Manage` section, but the Windows version does not show up on the web marketpla

[2022-10-18 19:33] joaomoreno commented on #494
@mjbvz VSCE rewrites README.md media URLs because the Marketplace doesn't serve those. So, when an extension is viewed in the Marketplace page, the URLs are pointing to github.com.

[2022-10-18 20:36] JohnnyMorganz commented on #502
Looks like there just must've been a very long backlog for Windows as its slowly starting to pop up now.
Sorry for the noise!

[2022-10-18 20:36] #502 closed

[2022-10-19 10:58] melMass commented on #235
Just an fiy:
So I published a release by mistake (while the extension only used prereleases until then), I then unpublished it (which removed the extension and all past versions all together 😅)

Upon republishing a pre-release It seems like there are two distinct items now in the extensions list (the marketplace does show the right info)

So now there are two extension with the same name and ID. N

[2022-10-19 12:07] anupkmr03 commented on #501
Hi @eamodio, Sorry for the inconvenience, due to an internal issue virus scan was failing. Can you please re-upload the package again. It should work now.

[2022-10-19 13:11] eamodio commented on #501
Thanks. Yeah it seems to have resolved itself.

[2022-10-20 09:30] kj0171 commented on #154
We have done some bug fixes and improvements on the marketplace search service. The changes are live in vscode insider. Do try them out and share feedback :)

https://user-images.githubusercontent.com/25655940/196911597-ec51bfce-00a0-4771-b8f2-d2fdd040300c.mp4

[2022-10-20 19:06] hediet commented on #154
Nice work on the update!

However, I find this problematic:

![image](https://user-images.githubusercontent.com/2931520/197036073-5b4e852b-8a08-4ab9-aedc-3cdbd6e6181e.png)

The `GitLens` extension does not show up here.